<template>
	<div class="page">
		<header class="container position-relative pt-5">
		  <div class="row pt-5">
		    <div class="col-lg-12 mt-5 pt-5 mob-pt-0">
		      <p class="text-pink mb-0 letter-spacing text-fancy text-large position-relative"><b class="text-pink cursor-pointer">How we can help you</b></p>
		      <h1 class="mob-mt-0 page-top mb-5">Digital Services</h1>
		      <p class="statement mb-5 scroll-line" data-line="draw-line"><b>Our business relies on producing great results for our clients online so they sing our praises to their customers, friends and colleagues. We help ourselves by helping you!</b></p>
		    </div>
		  </div>
		</header>
		<div class="container-fluid bg-dark text-white">
		  <div class="row">
		    <div class="container wide-container">
		      <div class="row justify-content-center ipad-py-5">
		      	<div class="col-12 d-lg-none">
	            <picture> 
	              <source srcset="/img/services/websites.webp" type="image/webp"/> 
	              <source srcset="/img/services/websites.jpg" type="image/jpeg"/>
	              <img src="/img/services/websites.jpg" alt="Websites by element seven are respinsive, affordable and modern" class="w-100"  data-aos="fade-in"/>
	            </picture>   
		        </div>
		        <div class="col-lg-5 offset-lg-1">
		          <div class="d-table w-100 h-100">
		            <div class="d-table-cell align-middle w-100 h-100 text-center text-lg-left">
		              <p class="text-pink mb-0 letter-spacing text-fancy text-large position-relative" data-aos="fade-in"><b class="text-pink cursor-pointer">Modern & Responsive</b></p>
		              <h3 class="mb-4" data-aos="fade-in">Websites</h3>
		              <p class="mb-4" data-aos="fade-in">Professional web design helps to make your business appear credible online. It is the process of conceptualising, planning, and building a collection of electronic files that deliver pages to your site visitors. </p>
		              <NuxtLink to="/services/websites">
		              	<cool-button :color="'#fff'" :text="'Tell me more'" data-aos="fade-up"></cool-button>
		              </NuxtLink>
		            </div>
		          </div>
		        </div>
		        <div class="col-lg-6 d-none d-lg-block">
	            <picture> 
	              <source srcset="/img/services/websites.webp" type="image/webp"/> 
	              <source srcset="/img/services/websites.jpg" type="image/jpeg"/>
	              <img src="/img/services/websites.jpg" alt="Websites by element seven are respinsive, affordable and modern" class="w-100"  data-aos="fade-in"/>
	            </picture>   
		        </div>
		      </div>
		      <div class="row mob-mt-5 ipad-py-5">
		        <div class="col-lg-6">
		          <picture> 
	              <source srcset="/img/services/ecommerce.webp" type="image/webp"/> 
	              <source srcset="/img/services/ecommerce.jpg" type="image/jpeg"/>
	              <img src="/img/services/ecommerce.jpg" alt="Websites by element seven are respinsive, affordable and modern" class="w-100"  data-aos="fade-in"/>
	            </picture>   
		        </div>
		        <div class="col-lg-5">
		          <div class="d-table w-100 h-100">
		            <div class="d-table-cell align-middle w-100 h-100 text-center text-lg-left">
		              <p class="mb-0"></p>
		              <p class="text-pink mb-0 letter-spacing text-fancy text-large position-relative" data-aos="fade-in"><b class="text-pink cursor-pointer">Smart & Reliable</b></p>
		              <h3 class="mb-4" data-aos="fade-in">E-commerce</h3>
		              <p class="mb-4">E-commerce is the practice of selling goods or services online through a payment facility on your website. An e-commerce website opens up the potential of the internet to your business, allowing you to compliment your traditional sales with online revenue. </p>
		              <NuxtLink to="/services/e-commerce">
		              	<cool-button :color="'#fff'" :text="'Learn More'" data-aos="fade-up"></cool-button>
		              </NuxtLink>
		            </div>
		          </div>
		        </div>
		      </div>
	        <div class="row justify-content-center mob-mt-5 ipad-py-5">
	        	<div class="col-12 d-lg-none">
	            <picture> 
	              <source srcset="/img/services/socialmedia.webp" type="image/webp"/> 
	              <source srcset="/img/services/socialmedia.jpg" type="image/jpeg"/>
	              <img src="/img/services/socialmedia.jpg" alt="Websites by element seven are respinsive, affordable and modern" class="w-100"  data-aos="fade-in"/>
	            </picture>   
		        </div>
	          <div class="col-lg-5 offset-lg-1">
	            <div class="d-table w-100 h-100">
	              <div class="d-table-cell align-middle w-100 h-100 text-center text-lg-left">
	                <p class="mb-0"></p>
	                <p class="text-pink mb-0 letter-spacing text-fancy text-large position-relative" data-aos="fade-in"><b class="text-pink cursor-pointer">Impressive & Effective</b></p>
	                <h3 class="mb-4" data-aos="fade-in">Social Media Marketing</h3>
	                <p class="mb-4">When beginning a social media campaign there are a lot of factors to consider. When we identify who we are trying to put content in front of, we can begin to design the campaign that will trigger a click from a potential customer.</p>
	                <NuxtLink to="/services/social-media">
	                	<cool-button :color="'#fff'" :text="'Learn More'" data-aos="fade-up"></cool-button>
	                </NuxtLink>
	              </div>
	            </div>
	          </div>
	          <div class="col-lg-6 d-none d-lg-block">
	            <picture> 
	              <source srcset="/img/services/socialmedia.webp" type="image/webp"/> 
	              <source srcset="/img/services/socialmedia.jpg" type="image/jpeg"/>
	              <img src="/img/services/socialmedia.jpg" alt="Websites by element seven are respinsive, affordable and modern" class="w-100"  data-aos="fade-in"/>
	            </picture>   
	          </div>
	        </div>
		      <div class="row mob-mt-5 ipad-py-5">
		        <div class="col-lg-6">
		          <picture> 
	              <source srcset="/img/services/aftercare.webp" type="image/webp"/> 
	              <source srcset="/img/services/aftercare.jpg" type="image/jpeg"/>
	              <img src="/img/services/aftercare.jpg" alt="Websites by element seven are respinsive, affordable and modern" class="w-100"  data-aos="fade-in"/>
	            </picture>   
		        </div>
		        <div class="col-lg-5">
		          <div class="d-table w-100 h-100">
		            <div class="d-table-cell align-middle w-100 h-100 text-center text-lg-left">
		              <p class="mb-0"></p>
		              <p class="text-pink mb-0 letter-spacing text-fancy text-large position-relative" data-aos="fade-in"><b class="text-pink cursor-pointer">Sensible & Important</b></p>
		              <h3 class="mb-4" data-aos="fade-in">Aftercare</h3>
		              <p class="mb-4">Once your awesome new website is launched, we don’t want to close the door behind you and never see you again. There is so much you can do after launch to improve your search engine ranking, website traffic and conversions.</p>
		              <NuxtLink to="/services/aftercare">
		              	<cool-button :color="'#fff'" :text="'Learn More'" data-aos="fade-up"></cool-button>
		              </NuxtLink>
		            </div>
		          </div>
		        </div>
		      </div>
	        <div class="row justify-content-center pb-5 mb-5 mob-mt-5 ipad-py-5">
	        	<div class="col-12 d-lg-none">
	            <picture> 
	              <source srcset="/img/services/seo.webp" type="image/webp"/> 
	              <source srcset="/img/services/seo.jpg" type="image/jpeg"/>
	              <img src="/img/services/seo.jpg" alt="Websites by element seven are respinsive, affordable and modern" class="w-100"  data-aos="fade-in"/>
	            </picture>   
		        </div>
	          <div class="col-lg-5 offset-lg-1">
	            <div class="d-table w-100 h-100">
	              <div class="d-table-cell align-middle w-100 h-100 text-center text-lg-left">
	                <p class="mb-0"></p>
	                <p class="text-pink mb-0 letter-spacing text-fancy text-large position-relative" data-aos="fade-in"><b class="text-pink cursor-pointer">Effective & Accountable</b></p>
	                <h3 class="mb-4" data-aos="fade-in">Search Engine Optimisation</h3>
	                <p class="mb-4">Google ranks websites they “crawl” on the internet based on a range of different factors. It is important that all these are addressed and optimised before a website is launched and also as an ongoing process to ensure positive results.</p>
	                <NuxtLink to="/services/seo">
	                	<cool-button :color="'#fff'" :text="'Learn More'" data-aos="fade-up"></cool-button>
	                </NuxtLink>
	              </div>
	            </div>
	          </div>
	          <div class="col-lg-6 d-none d-lg-block">
	            <picture> 
	              <source srcset="/img/services/seo.webp" type="image/webp"/> 
	              <source srcset="/img/services/seo.jpg" type="image/jpeg"/>
	              <img src="/img/services/seo.jpg" alt="Websites by element seven are respinsive, affordable and modern" class="w-100"  data-aos="fade-in"/>
	            </picture>   
	          </div>
	        </div>
		    </div>
		  </div>
		</div>
	</div>
</template>
<script>
	export default {
		head: {
	    title: 'Services - Websites, SEO, E-commerce, Social Media & Aftercare | Element Seven',
	    meta: [
	      { name: 'description', content: "Learn about the range of services available to our clients in Belfast, Northern Ireland. Everything from web design to social media campaigns, if it's online, we can help you." },
	      { name: 'og-title', content: "Services | Element Seven" },
	      { name: 'og-image', content: "https://elementseven.co/img/og1.jpg" },
	      { name: 'og:description', content: "Learn about the range of services available to our clients in Belfast, Northern Ireland. Everything from web design to social media campaigns, if it's online, we can help you." },
	      { name: 'og-url', content: "https://elementseven.co/services" },
	    ]
	  },
		data() {
      return {
			}
		},
		mounted(){
			this.$emit('hideLoader');
			this.$emit('pageChange', {'type':'dark', 'page':'services', 'title':'Services'});
			$('.scroll-line').each(function(index, element){
				var effect = $(this).attr("data-line");
				var inview = new Waypoint({
					element: element,
					handler: function (direction) {
						if (direction === 'down') {
							$(element).addClass(effect);
						}
					},offset: '80%'
				});
			});
		},
	  methods:{
			backToTop(){
					document.body.scrollTop = document.documentElement.scrollTop = 0;
			},
		}
	}
</script>
<style lang="scss">
.phone-bg{
	position: relative;
	width: 500px;
	height: 500px;
	.shape{
		position: absolute;
    height: 600px;
    width: 600px;
    top: calc(50% - 300px);
    left: calc(50% - 300px);
	}
	.shape-2{
    position: absolute;
    height: 600px;
    width: 600px;
    top: calc(50% - 300px);
    left: calc(50% - 300px);
	}
	.home-phone{
    position: absolute;
    height: 721px;
    width: 400px !important;
    top: calc(50% - 360px);
    left: calc(50% - 200px);
	}
}
h4.mt-minus{
	margin-top: -80px;
}
.phone-padding{
	padding-top: 200px;
	padding-bottom: 200px;
}
.rotating {
  -webkit-animation: rotating 100s linear infinite;
  -moz-animation: rotating 100s linear infinite;
  -ms-animation: rotating 100s linear infinite;
  -o-animation: rotating 100s linear infinite;
  animation: rotating 100s linear infinite;
}
@keyframes rotating {
  from {
    -ms-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -webkit-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  to {
    -ms-transform: rotate(360deg);
    -moz-transform: rotate(360deg);
    -webkit-transform: rotate(360deg);
    -o-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
.blue-dots-top-right{
	background-image: url('/img/shapes/dots_blue.svg');
	background-size: 100%;
	background-repeat: no-repeat;
	position: absolute;
	top: -70px;
  right: -196px;
  width: 250px;
  height: 418px;
}
.pink-circle-top-right{
	background-image: url('/img/shapes/circle_pink.svg');
	background-size: 100%;
	background-repeat: no-repeat;
	position: absolute;
  top: 100px;
  right: calc(-125px + 1rem);
  width: 250px;
  height: 250px;
}
.pink-dots-bottom-left{
	background-image: url('/img/shapes/dots_pink.svg');
	background-size: 100%;
	background-repeat: no-repeat;
	position: absolute;
  bottom: calc(50% - 100px);
  left: -75px;
  width: 400px;
  height: 310px;
  z-index: 0;
}
.blue-circle-bottom-left{
	background-image: url('/img/shapes/circle_blue.svg');
	background-size: 100%;
	background-repeat: no-repeat;
	position: absolute;
  bottom: calc(50% - 150px);
  left: -150px;
  width: 300px;
  height: 300px;
  z-index: -1;
}
</style>