// Selected Text -----------------
::selection {
	color: $darkgrey;
	background: $primary; /* WebKit/Blink Browsers */
}
::-moz-selection {
	color: $darkgrey;
	background: $primary; /* Gecko Browsers */
}
// Body Styles -------------------
body{
	height: 100%;
	width: 100%;
	overflow: auto;
	background-color: $navy;
	color: $white;
	font-family: $body;
	h1{
		font-family: $title;
		font-weight: 500;
		font-style: normal;
		font-size: 5rem;
		line-height: 0.9;
		&.page-top{
			font-weight: 500;
			font-size: 6rem;
		}
		&.page-top-alt{
			font-size: 4.6rem;
		}
		&.home-top-title{
			font-family: $title;
			font-weight: 500;
			font-style: normal;
			font-size: 7rem;
			letter-spacing: 2px;
			line-height: 0.9;
			position: relative;
			&:after{
				content: "*and we're really good at it!";
				font-family: $fancy;
		    font-size: 2.5rem;
		    position: absolute;
		    letter-spacing: 0;
		    bottom: 0.5rem;
		    right: 200px;
    		width: 225px;
		    color: $pink;
		    transform: rotate(-13deg);
		    -webkit-transform: rotate(-13deg);
		    -moz-transform: rotate(-13deg);
		    -o-transform: rotate(-13deg);
			}
		}
	}
	h2{
    font-size: 6rem;
    line-height: 1;
		font-weight: 500;
		font-style: normal;
		font-family: $title;
		&.smaller{
			font-size: 4.5rem;
		}
	}
	h3{
		font-size: 4rem;
		line-height: 1;
		font-weight: 500;
		font-family: $title;
		&.section-title{
			letter-spacing: 1px;
	    font-size: 1.2rem;
	    font-weight: 500;
	    text-transform: uppercase;
		}
	}
	h4{
		font-size: 2.2rem;
		font-weight: 500;
		font-family: $title;
		&.larger{
			font-size: 3rem;
		}
	}
	h5{
		font-size: 1.8rem;
		font-family: $title;
	}
	p{
		font-size: 1.2rem;
		line-height: 1.7;
		&.statement{
			position: relative;
			padding-left: 2rem;
			font-weight: 600;
			font-size: 1.8rem;
			line-height: 3rem;
			&:before{
				content: "";
				position: absolute;
				top: 0;
				left:0;
				width: 2px;
				height: 0;
				background-color: $primary;
				transition-delay: 1.5s;
				-webkit-transition-delay: 0.5s;
				-moz-transition-delay: 0.5s;
				@include transition(300ms);
			}
			&.draw-line{
				&:before{
					height: 100%;
				}
			}
		}
		&.mimic-h2{
			font-size: 6rem;
	    line-height: 0.9;
			font-weight: 500;
			font-style: normal;
			font-family: $title;
			&.smaller{
				font-size: 4.5rem;
			}
		}
		&.mimic-h3{
			font-size: 5rem;
			line-height: 0.9;
			font-weight: 500;
			font-family: $title;
			&.section-title{
				letter-spacing: 1px;
		    font-size: 1.2rem;
		    font-weight: 500;
		    text-transform: uppercase;
			}
		}
		&.text-small{
			font-size: 1rem;
		}
		&.text-smaller{
			font-size: 0.9rem;
		}
		&.text-large{
			font-size: 1.4rem;
		}
		&.text-larger{
			font-size: 1.4rem;
		}
		&.caption{
			font-size: 0.9rem;
		}
		&.letter-spacing{
			letter-spacing: 1px;
		}
	}
	a{
		color:$primary;
		@include transition(300ms);
		&.white{
			color: $white;
			&:hover{
				color: $darkgrey;
			}
		}
		&.text-dark{
			color: $darkgrey;
			&:hover{
				color: $primary;
			}
		}
		&.text-primary-dark{
			&:hover{
				color: $darkgrey;
			}
		}
		&.text-white{
			color: $white !important;
			&:hover{
				color: $primary !important;
			}
		}
		&:hover{
			text-decoration: none !important;
		}
	}
	.top-section{
		padding-top: 120px !important;
	}
	.social-links{
		font-size: 24px;
	}
	.white-text{
		color: $white;
	}
	.text-primary{
		color: $primary !important;
	}
	.text-pink{
		color: $pink;
	}
	.text-green{
		color: $green !important;
	}
	.text-red{
		color: $red;
	}
	.text-dark{
		color: $navy !important;
	}
	.text-primary-dark{
		color: $primarydark !important;
	}
	.text-primary-light{
		color: $primarylight !important;
	}
	.text-title{
		font-family: $title !important;
	}
	.bg-dark{
		background-color: $navy !important;
	}
	&.login{
		color: $white;
		text-align: center;
		@include gradient();
		p{
			color: $white;
		}
		a{
			color: $white;
		}
	}
	ul{
		list-style: none;
		padding-left: 1.5rem;
		li{
			position: relative;
			margin-bottom: 1rem;
			font-size: 1.1rem;
			&:before{
				content: "";
				background-color: $primary;
				background-size: contain;
				background-repeat: no-repeat;
				position: absolute;
				left: -1.3rem;
				top: 9px;
				width: 6px;
				height: 6px;
				border-radius: 100%
			}
			&:last-of-type{
				margin-bottom: 0;
			}
		}
	}
}
.text-fancy{
	font-weight: 700 !important;
	font-family: $fancy !important;
}
.home-top{
	p.text-large{
		font-size: 2vw;
		i{
			margin-right: 1.2vw;
		}
	}
}
.big-quote{
	font-size: 50px;
	margin-bottom: 1rem;
	color: $primary;
}
.cursor-pointer{
	cursor: pointer;
}
#content{
	z-index: 1;
	@include transition(300ms);
	&.opacity{
		opacity: 0.1;
	}
}
.bg-second{
	background-color: $darkgrey;
	color: $white;
}
.text-secondary{
	color: $second !important;
}
.text-grey{
	color: $bluegrey;
}
.webp{
	h4{
		&.number-behind{
			&.behind-1:before{
				background-image: url('/img/numbers/1.webp');
			}
			&.behind-2:before{
				background-image: url('/img/numbers/2.webp');
			}
			&.behind-3:before{
				background-image: url('/img/numbers/3.webp');
			}
			&.behind-4:before{
				background-image: url('/img/numbers/4.webp');
			}
		}
	}
}
.no-webp{
	h4{
		&.number-behind{
			&.behind-1:before{
				background-image: url('/img/numbers/1.png');
			}
			&.behind-2:before{
				background-image: url('/img/numbers/2.png');
			}
			&.behind-3:before{
				background-image: url('/img/numbers/3.png');
			}
			&.behind-4:before{
				background-image: url('/img/numbers/4.png');
			}
		}
	}
}