// Mixins -------------------
@mixin transition($ms) { 
	-webkit-transition: all $ms ease;
    -moz-transition: all $ms ease ;
    -o-transition: all $ms ease;
    transition: all $ms ease;
}
@mixin transition_delay($props1 :null ,$props2 :null ,$props3 :null ,$props4 :null ,$props5 :null ,$props6 :null ,$props7 :null ,$props8 :null ) { 
	-webkit-transition:$props1,$props2,$props3,$props4,$props5,$props6,$props7,$props8;
    -moz-transition: $props1,$props2,$props3,$props4,$props5,$props6,$props7,$props8;
    -o-transition: $props1,$props2,$props3,$props4,$props5,$props6,$props7,$props8;
    transition: $props1,$props2,$props3,$props4,$props5,$props6,$props7,$props8;
}
@mixin appearance(){
	-webkit-appearance: none;
	-moz-appearance: none;
	-o-appearance: none;
	appearance: none;
}
@mixin background(){
	background-size: cover;
	background-position: center center;
	background-repeat: no-repeat;
}
@mixin backgroundTop(){
	background-size: cover;
	background-position: top center;
	background-repeat: no-repeat;
}
@mixin boxShadow(){
	-webkit-box-shadow: 0rem -1rem 3rem #4d05cc !important;
	-moz-box-shadow: 0rem -1rem 3rem #4d05cc !important;
	box-shadow: 0rem -1rem 3rem #4d05cc !important;
}
@mixin menuBoxShadow(){
	-webkit-box-shadow: -2rem 0rem 10rem #ff32a2 !important;
	-moz-box-shadow: -2rem 0rem 10rem #ff32a2 !important;
	box-shadow: -2rem 0rem 10rem #ff32a2 !important;
}
@mixin gradient(){
	background: #187ef4;
	background: -moz-linear-gradient(top, #187ef4 0%, #1472dd 100%, #1472dd 100%);
	background: -webkit-linear-gradient(top, #187ef4 0%,#1472dd 100%,#1472dd 100%);
	background: linear-gradient(to bottom, #187ef4 0%,#1472dd 100%,#1472dd 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#187ef4', endColorstr='#1472dd',GradientType=0 );
}
@-webkit-keyframes colors {
  0%{background-position:0% 50%}
  50%{background-position:100% 50%}
  100%{background-position:0% 50%}
}
@-moz-keyframes colors {
  0%{background-position:0% 50%}
  50%{background-position:100% 50%}
  100%{background-position:0% 50%}
}
@keyframes colors { 
  0%{background-position:0% 50%}
  50%{background-position:100% 50%}
  100%{background-position:0% 50%}
}

@mixin contactGradient(){
/* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#000000+1,393d46+100 */
background: rgb(0,0,0); /* Old browsers */
background: -moz-linear-gradient(top, rgba(0,0,0,1) 1%, rgba(57,61,70,1) 100%); /* FF3.6-15 */
background: -webkit-linear-gradient(top, rgba(0,0,0,1) 1%,rgba(57,61,70,1) 100%); /* Chrome10-25,Safari5.1-6 */
background: linear-gradient(to bottom, rgba(0,0,0,1) 1%,rgba(57,61,70,1) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#000000', endColorstr='#393d46',GradientType=0 ); /* IE6-9 */
}