<template>
	<div class="position-relative full-height">
		<header class="container-fluid home-header bg-dark bg-fixed full-height">
		  <div class="overlay"></div>
		  <video class="home-top-video bg d-none d-lg-block" src="/vid/home8.mp4" width="900" autoplay="true" playsinline muted lazy>
		    <source data-src="/vid/home8.mp4" type="video/mp4"/>
		    Your browser does not support the video tag.
		  </video>
		  <div class="row">
		    <div class="container">
		      <div class="row text-left">
		        <div class="col-lg-11">
		          <div class="d-table w-100 full-height">
		            <div class="d-table-cell align-middle full-height">
		              <h1 class="home-top-title text-white mb-5 mob-mb-4" data-aos="fade-in">We are a <span class="text-primary">Digital Agency</span> from Belfast, specialising in Web Design.</h1>
		              <NuxtLink :to="{ name: 'Work' }">
		              	<cool-button :color="'#fff'" :text="'View our work'" data-aos="fade-up" data-aos-delay="200"></cool-button>
		              </NuxtLink>
		            </div>
		          </div>
		        </div>
		      </div>
		    </div>
		  </div>
		</header>
		<scroll/>
	</div>
</template>
<script>
	const Scroll = () => import(/* webpackChunkName: "Scroll" */ '../Scroll.vue');
	export default {
		data() {
      return {
      	
			}
		},
		components: {
			Scroll
		},
		mounted(){
			this.$emit('hideLoader');
			this.$emit('pageChange', {'type':'dark', 'page':'home', 'title':'Home'});

		},
		metaInfo: {
			title: 'Element Seven - Affordable Web Design Belfast, Northern Ireland',
	    meta: [
	      { name: 'description', content: "Affordable Web Design company in Belfast, Northern Ireland. We work with Start-Ups & Established Businesses, specialising in Web Design, SEO & Digital Marketing" },
	      { name: 'og-image', content: "https://elementseven.co/img/og1.jpg" }
	    ]
	  }
	}
</script>
<style lang="scss">
	header.home-header{
		position: relative;
		overflow: hidden;
		height: 100vh;
		@include background();
		video {
		  position: absolute;
		  top: 50%;
		  left: 50%;
		  min-width: 100%;
		  min-height: 100%;
		  width: auto;
		  height: auto;
		  z-index: 0;
		  -ms-transform: translateX(-50%) translateY(-50%);
		  -moz-transform: translateX(-50%) translateY(-50%);
		  -webkit-transform: translateX(-50%) translateY(-50%);
		  transform: translateX(-50%) translateY(-50%);
		}
		.container {
		  position: relative;
		  z-index: 2;
		}
		.overlay {
	  	position: absolute;
		  top: 0;
		  left: 0;
		  height: 100%;
		  width: 100%;
		  background-color: black;
		  opacity: 0.4;
		  z-index: 1;
		}
	}
	.full-height{
		height: 100vh;
	}
	.no-webp{
		header.home-header{
			background-image: url('/img/bg/home-top.jpg');
		}
	}
	.webp{
		header.home-header{
			background-image: url('/img/bg/home-top.webp');
		}
	}
</style>