<template>
	<main>
		<div class="container-fluid bg-dark text-white overflow-hidden">
		  <div class="row">
		    <div class="container py-5 mob-pt-0">
		      <div class="row mt-5">
		        <div class="col-lg-11 pt-5">
		          <p class="text-pink mb-0 letter-spacing text-large text-fancy" data-aos="fade-in"><i class="fa fa-user text-primary mr-2"></i><b>Experince Focused</b></p>
		          <h2 class="mb-5">Bespoke Web Design</h2>
		          <p class="statement mb-5 scroll-line" data-line="draw-line"><b>We specialise in creating bespoke websites for ambitious businesses in Belfast and beyond. Our aim is to design your website to stand out from the crowd &amp; deliver excellent, measurable results.</b></p>
		          <NuxtLink to="/services">
		          	<cool-button :color="'#fff'" :text="'Tell me more'"></cool-button>
		          </NuxtLink>
		        </div>
		      </div>
		    </div>
		    <div class="container wide-container mob-mt-5">
		      <div class="row justify-content-center ipadp-py-5">
		      	<div class="col-lg-6 d-lg-none position-relative mob-home-project">
		      		<div class="pink-dots-bottom-left" data-aos="slide-right"></div>
		  				<div class="pink-pentagon-bottom-left rotating" data-aos="slide-up"></div>
            	<picture> 
	              <source srcset="/img/mob/bht-mob.webp" type="image/webp"/> 
	              <source srcset="/img/mob/bht-mob.png" type="image/png"/>
	              <img v-lazy="'/img/mob/bht-mob.png'" alt="Clever Ghost Modern responsive mobile website on an iphone" class="w-100" data-aos="slide-up"/>
	            </picture>   
		        </div>
		        <div class="col-xl-4 col-lg-6 offset-xl-2 mob-mb-5">
		          <div class="d-table w-100 h-100">
		            <div class="d-table-cell align-middle w-100 h-100">
		              <p class="mb-0"></p>
		              <p class="text-pink mb-0 letter-spacing text-fancy text-large position-relative" data-aos="fade-in"><a href="https://belfasthiddentours.com" target="_blank"><i class="fa fa-link mr-2 cursor-pointer"></i><b class="text-pink cursor-pointer">Check it out</b></a></p>
		              <p class="mimic-h3 mb-4 mob-mb-3" data-aos="fade-in">Belfast Hidden Tours</p>
		              <p class="mb-4 mob-mb-3">A modern, responsive website focused on user experience, making it easy for international customers to find and book a tour.</p>
		              <NuxtLink :to="{ name: 'WorkPost', params: { workSlug: 'belfast-hidden-tours' }}">
		              	<cool-button :color="'#fff'" :text="'View Project'" data-aos="fade-up"></cool-button>
		              </NuxtLink>
		            </div>
		          </div>
		        </div>
		        <div class="col-lg-6 phone-padding d-none d-lg-block">
		          <div class="phone-bg mx-auto"> 
		            <img v-lazy="'/img/shapes/dots_pink.svg'" class="shape-2 rotate-90"/>
		            <img v-lazy="'/img/shapes/triangle_blue.svg'" class="shape rotating"/>
		            <picture> 
		              <source srcset="/img/phones/bhtphone.webp" type="image/webp"/> 
		              <source srcset="/img/phones/bhtphone.png" type="image/png"/>
		              <img v-lazy="'/img/phones/bhtphone.png'" alt="Belfast Hidden Tours website on an iphone" class="home-phone" data-aos="slide-up"/>
		            </picture>   
		          </div>
		        </div>
		      </div>
		      <div class="row justify-content-center ipadp-py-5">
		        <div class="col-xl-10">
		          <div class="py-5 mob-mb-5">
		            <p class="statement scroll-line" data-line="draw-line">Our websites are responsive &amp; designed mobile first, with user experience in mind at all times. Your website is the shop window of your business and giving a great first impression is extremely important.</p>
		          </div>
		        </div>
		      </div>
		      <div class="row mob-px-3 ipadp-py-5">
		        <div class="col-lg-6 phone-padding d-none d-lg-block">
		          <div class="phone-bg mx-auto"> 
		            <img v-lazy="'/img/shapes/dots_blue.svg'" class="shape-2 rotate-90"/>
		            <img v-lazy="'/img/shapes/triangle_pink.svg'" class="shape rotating"/>
		            <picture> 
		              <source srcset="/img/phones/zeverb-phone.webp" type="image/webp"/> 
		              <source srcset="/img/phones/zeverb-phone.png" type="image/png"/>
		              <img v-lazy="'/img/phones/zeverb-phone.png'" alt="Zeverb Modern responsive mobile website on an iphone" class="home-phone" data-aos="slide-up"/>
		            </picture>   
		          </div>
		        </div>
		        <div class="col-lg-6 d-lg-none px-0 mob-home-project">
		        	<div class="pink-dots-bottom-left" data-aos="slide-right"></div>
		  				<div class="blue-rect-bottom-left rotating" data-aos="slide-up"></div>
	            <picture> 
	              <source srcset="/img/mob/zeverb-mob.webp" type="image/webp"/> 
	              <source srcset="/img/mob/zeverb-mob.png" type="image/png"/>
	              <img v-lazy="'/img/mob/zeverb-mob.png'" alt="Zeverb Modern responsive mobile website on an iphone" class="w-100" data-aos="slide-up"/>
	            </picture>   
		        </div>
		        <div class="col-xl-4 col-lg-6 mob-px-0">
		          <div class="d-table w-100 h-100">
		            <div class="d-table-cell align-middle w-100 h-100">
		              <p class="mb-0"></p>
		              <p class="text-pink mb-0 letter-spacing text-fancy text-large position-relative" data-aos="fade-in"><a href="https://zeverb.com" target="_blank"><i class="fa fa-link mr-2 cursor-poin ter"></i><b class="text-pink cursor-pointer">Check it out</b></a></p>
		              <p class="mimic-h3 mb-4 mob-mb-3" data-aos="fade-in">Zeverb</p>
		              <p class="mb-4 mob-mb-3">A new music production e-learning platform that teaches aspiring musicians and producers the secrets of their industry!</p>
		              <NuxtLink :to="{ name: 'WorkPost', params: { workSlug: 'zeverb' }}">
		              	<cool-button :color="'#fff'" :text="'View Project'" data-aos="fade-up"></cool-button>
		              </NuxtLink>
		            </div>
		          </div>
		        </div>
		      </div>
	        <div class="row justify-content-center ipadp-py-5">
	          <div class="col-xl-10 mob-py-5">
	            <div class="py-5">
	              <p class="statement scroll-line" data-line="draw-line">We know our stuff. If you want to learn more about our web design techniques, have a look at our <NuxtLink to="/services/websites">websites page</NuxtLink> or <NuxtLink to="contact" class="text-pink">send us a message</NuxtLink>.</p>
	            </div>
	          </div>
	        </div>
	        <div class="row justify-content-center ipadp-py-5">
	        	<div class="col-lg-6 d-lg-none mob-home-project">
	        		<div class="pink-dots-bottom-left" data-aos="slide-right"></div>
	  					<div class="blue-triangle-bottom-left rotating" data-aos="slide-up"></div>
            	<picture> 
	              <source srcset="/img/mob/cg-mob.webp" type="image/webp"/> 
	              <source srcset="/img/mob/cg-mob.png" type="image/png"/>
	              <img v-lazy="'/img/mob/cg-mob.png'" alt="Clever Ghost Modern responsive mobile website on an iphone" class="w-100" data-aos="slide-up"/>
	            </picture>   
		        </div>
	          <div class="col-xl-4 col-lg-6 offset-xl-2 ">
	            <div class="d-table w-100 h-100">
	              <div class="d-table-cell align-middle w-100 h-100">
	                <p class="mb-0"></p>
	                <p class="text-pink mb-0 letter-spacing text-fancy text-large position-relative" data-aos="fade-in"><a href="https://thatcleverghost.com" target="_blank" class=" cursor-pointer"><i class="fa fa-link mr-2 cursor-pointer"></i><b class="text-pink cursor-pointer">Check it out</b></a></p>
	                <p class="mimic-h3 mb-4 mob-mb-3" data-aos="fade-in">Clever Ghost</p>
	                <p class="mb-4 mob-mb-3">A beautiful portfolio website that accurately shows our client's skill in branding and design, focused on driving customer enquiries.</p>
	                <NuxtLink :to="{ name: 'WorkPost', params: { workSlug: 'clever-ghost' }}">
	                	<cool-button :color="'#fff'" :text="'View Project'" data-aos="fade-up"></cool-button>
	                </NuxtLink>
	              </div>
	            </div>
	          </div>
	          <div class="col-lg-6 phone-padding d-none d-lg-block">
	            <div class="phone-bg mx-auto"> 
	              <img src="/img/shapes/dots_cyan.svg" class="shape-2 rotate-90"/>
	              <img src="/img/shapes/pentagon_pink.svg" class="shape rotating"/>
	              
	              <picture> 
	                <source srcset="/img/phones/cg-phone.webp" type="image/webp"/> 
	                <source srcset="/img/phones/cg-phone.png" type="image/png"/>
	                <img v-lazy="'/img/phones/cg-phone.png'" alt="Clever Ghost Modern responsive mobile website on an iphone" class="home-phone" data-aos="slide-up"/>
	              </picture>   
	            </div>
	          </div>
		      </div>
		    </div>
		  </div>
		</div>
		<div class="container-fluid position-relative">
		  <div class="pink-dots-bottom-left d-none d-lg-block" data-aos="slide-right"></div>
		  <div class="blue-circle-bottom-left d-none d-lg-block" data-aos="slide-up"></div>
		  <div class="row">
		    <div class="container ipad-pt-0 mob-pt-5">
		      <div class="row py-5 justify-content-center">
		        <div class="col-lg-11 text-center">
		          <p class="text-large text-pink"><i class="fa fa-star mr-1" data-aos="fade-in" data-aos-delay="100"></i><i class="fa fa-star mr-1" data-aos="fade-in" data-aos-delay="200"></i><i class="fa fa-star mr-1" data-aos="fade-in" data-aos-delay="300"></i><i class="fa fa-star mr-1" data-aos="fade-in" data-aos-delay="400"></i><i class="fa fa-star" data-aos="fade-in" data-aos-delay="500"></i></p>
		          <p class="mimic-h2 section-title mb-5 mob-mb-3" data-aos="fade-in">Why Choose Us?</p>
		          <p class="mb-4 pb-2" data-aos="fade-in"><b>Element Seven is an exciting new web design & development company in Belfast, Northern Ireland. We have a great record in delivering quality websites for our clients and take pride in our work & reputation. With our flexible payment options, you won’t get the same mix of quality, value and service elsewhere.</b></p>
		          <NuxtLink to="/contact">
		          	<cool-button :color="'#ffffff'" :text="'Get in touch'" data-aos="fade-up"></cool-button>
		          </NuxtLink>
		        </div>
		      </div>
		    </div>
		  </div>
		</div>
		<div class="container-fluid bg-dark mb-5">
		  <div class="row position-relative">
		    <div class="container">
		      <div class="row">
		        <div class="col-md-6 py-5 mob-px-0 text-center">
	            <picture> 
	              <source srcset="/img/shapes/return_on_investment_web_design.webp" type="image/webp"/> 
	              <source srcset="/img/shapes/return_on_investment_web_design.jpg" type="image/jpeg"/>
	              <img v-lazy="'/img/shapes/return_on_investment_web_design.jpg'" alt="Return on investment for web design in Belfast Northern Ireland" class="w-100" data-aos="slide-up"/>
	            </picture> 
	            <h4 class="mb-3 text-white larger mt-minus" data-aos="fade-in">Return on Investment</h4>
	          	<p class="pl-0 px-5 ipadp-px-3 mob-px-0 text-white" data-aos="fade-in">We want you to see success from your website, be that in online sales, enquiries or feet through the door! You'll be so delighted with your new website that you'll scream about it to your friends and family!</p>
		        </div>
		        <div class="col-md-6 py-5 mob-px-0 text-center">
		          <picture> 
		            <source srcset="/img/shapes/belfast-web-design.webp" type="image/webp"/> 
		            <source srcset="/img/shapes/belfast-web-design.jpg" type="image/jpeg"/>
		            <img v-lazy="'/img/shapes/belfast-web-design.jpg'" alt="Local web design in Belfast Northern Ireland" class="w-100" data-aos="slide-up" data-aos-delay="200"/>
		          </picture> 
		          <h4 class="mb-3 text-white larger mt-minus" data-aos="fade-in">Made in Belfast</h4>
		          <p class="pl-0 px-5 ipadp-px-3 mob-px-0 text-white" data-aos="fade-in">Need to chat? We're local, so <a href="tel:00442895031307">give us a call</a> to arrange a meeting. Come to our place in Belfast’s Cathedral Quarter or let us take you out for a coffee anywhere in Northern Ireland and get the ball rolling.</p>
		        </div>
		        <div class="col-md-6 py-5 mob-px-0 text-center">
		          <picture> 
		            <source srcset="/img/shapes/accountability_web_design.webp" type="image/webp"/> 
		            <source srcset="/img/shapes/accountability_web_design.jpg" type="image/jpeg"/>
		            <img v-lazy="'/img/shapes/accountability_web_design.jpg'" alt="Accountability web design in Belfast Northern Ireland" class="w-100" data-aos="slide-up"/>
		          </picture> 
		          <h4 class="mb-3 text-white larger mt-minus" data-aos="fade-in">Accountability</h4>
		          <p class="pl-0 px-5 ipadp-px-3 mob-px-0 text-white" data-aos="fade-in">Our policy is to stand over everything we do. With our <NuxtLink to="/services/aftercare">aftercare</NuxtLink> packages, we keep a close eye on your website traffic and user’s actions to make sure it is performing as it should. Let your website grow with your business!</p>
		        </div>
		        <div class="col-md-6 py-5 mob-px-0 text-center">
		          <picture> 
		            <source srcset="/img/shapes/reputation_web_design.webp" type="image/webp"/> 
		            <source srcset="/img/shapes/reputation_web_design.jpg" type="image/jpeg"/>
		            <img v-lazy="'/img/shapes/reputation_web_design.jpg'" alt="Reputation web design in Belfast Northern Ireland" class="w-100" data-aos="slide-up" data-aos-delay="200"/>
		          </picture> 
		          <h4 class="mb-3 text-white larger mt-minus" data-aos="fade-in">Reputation</h4>
		          <p class="pl-0 px-5 ipadp-px-3 mob-px-0 text-white" data-aos="fade-in">We work with a range of different clients in Northern Ireland to deliver quality websites and social media marketing. It's our aim to build a trusting relationship with our clients by giving you honest advice.</p>
		        </div>
		      </div>
		    </div>
		  </div>
		</div>
		<div class="container-fluid bg-dark overflow-hidden">
		  <div class="row pt-5 mob-py-0">
		    <div class="container-fluid position-relative">
		      <div class="row mob-py-0">
		      	<div class="container">
		      		<div class="row">
				        <div class="col-12 text-center text-lg-left">
				          <p class="text-pink mb-0 letter-spacing text-fancy text-large position-relative" data-aos="fade-in"><NuxtLink to="/blog"><i class="fa fa-link mr-2 cursor-pointer"></i><b class="text-pink cursor-pointer">Browse our blog posts</b></NuxtLink></p>
				          <h3 class="mb-0 mob-mb-5 text-white" data-aos="fade-in">Web Design Blog</h3>
				        </div> 
				      </div>
				    </div>
		        <blog-inline :category="0"></blog-inline>
		      </div>
		    </div>
		  </div>
		</div>
	</main>
</template>
<script>
	const BlogInline = () => import(/* webpackChunkName: "BlogInline" */ '../Blog/Inline.vue');
	export default {
		components: {
			BlogInline
		},
		mounted(){
			const scrolllines = document.querySelectorAll(".scroll-line");
			scrolllines.forEach(scrollline => {
			  var effect = scrollline.dataset.line;
				var inview = new Waypoint({
					element: scrollline,
					handler: function (direction) {
						if (direction === 'down') {
							scrollline.classList.add(effect);
						}
					},offset: '80%'
				});
			});
		},
		methods:{
			backToTop(){
        document.body.scrollTop = document.documentElement.scrollTop = 0;
      },
		}
	}
</script>
<style lang="scss">
.phone-bg{
	position: relative;
	width: 500px;
	height: 500px;
	.shape{
		position: absolute;
    height: 600px;
    width: 600px;
    top: calc(50% - 300px);
    left: calc(50% - 300px);
	}
	.shape-2{
    position: absolute;
    height: 500px;
    width: 500px;
    top: calc(50% - 250px);
    left: calc(50% - 250px);
	}
	.home-phone{
    position: absolute;
    height: 721px;
    width: 400px !important;
    top: calc(50% - 360px);
    left: calc(50% - 200px);
	}
}
h4.mt-minus{
	margin-top: -80px;
}
.phone-padding{
	padding-top: 200px;
	padding-bottom: 200px;
}
.rotating {
  -webkit-animation: rotating 100s linear infinite;
  -moz-animation: rotating 100s linear infinite;
  -ms-animation: rotating 100s linear infinite;
  -o-animation: rotating 100s linear infinite;
  animation: rotating 100s linear infinite;
}
@keyframes rotating {
  from {
    -ms-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -webkit-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  to {
    -ms-transform: rotate(360deg);
    -moz-transform: rotate(360deg);
    -webkit-transform: rotate(360deg);
    -o-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
.rotate-90{
	-ms-transform: rotate(90deg);
  -moz-transform: rotate(90deg);
  -webkit-transform: rotate(90deg);
  -o-transform: rotate(90deg);
  transform: rotate(90deg);
}
.blue-dots-top-right{
	background-image: url('/img/shapes/dots_blue.svg');
	background-size: 100%;
	background-repeat: no-repeat;
	position: absolute;
	top: -70px;
  right: -196px;
  width: 250px;
  height: 418px;
}
.pink-circle-top-right{
	background-image: url('/img/shapes/circle_pink.svg');
	background-size: 100%;
	background-repeat: no-repeat;
	position: absolute;
  top: 100px;
  right: calc(-125px + 1rem);
  width: 250px;
  height: 250px;
}
.pink-dots-bottom-left{
	background-image: url('/img/shapes/smalldots_pink.svg');
	background-size: contain;
	background-repeat: no-repeat;
	position: absolute;
	bottom: calc(50% - 240px);
  left: -35px;
  width: 170px;
  height: 480px;	
  z-index: -1;
  transform: rotate(45deg) !important;
  -webkit-transform: rotate(45deg) !important;
}
.blue-circle-bottom-left{
	background-image: url('/img/shapes/circle_cyan.svg');
	background-size: 100%;
	background-repeat: no-repeat;
	position: absolute;
  bottom: calc(50% - 190px);
  left: -130px;
  width: 300px;
  height: 300px;
  z-index: 0;
}
.pink-pentagon-bottom-left{
	background-image: url('/img/shapes/pentagon_pink.svg');
	background-size: 100%;
	background-repeat: no-repeat;
	position: absolute;
	bottom: calc(50% - 0px);
  left: -130px;
  width: 230px;
  height: 230px;
  z-index: 0;
}
.blue-triangle-bottom-left{
	background-image: url('/img/shapes/triangle_blue.svg');
	background-size: 100%;
	background-repeat: no-repeat;
	position: absolute;
	bottom: calc(50% - 0px);
  left: -130px;
  width: 230px;
  height: 230px;
  z-index: 0;
}
.blue-rect-bottom-left{
	background-image: url('/img/shapes/rect_cyan.svg');
	background-size: 100%;
	background-repeat: no-repeat;
	position: absolute;
	bottom: calc(50% - 0px);
	left: -90px;
  width: 160px;
  height: 160px;
  z-index: 0;
}
@media only screen and (max-width : 767px){
	.blue-triangle-bottom-left,
	.pink-pentagon-bottom-left{
		left: auto;
		right: -130px !important;
	}
}
</style>