<template>
	<div id="enquire_modal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="enquire_modal_label" aria-hidden="true">
		<div class="modal-dialog modal-lg modal-dialog-centered" role="document">
			<div class="modal-content">
				<div class="p-3 mob-p4">
					<form @submit.prevent="submit" class="row half_row">
						<div class="col-12 half_col">
							<h2>ENQUIRE NOW</h2>
							<p>Fill in the form and we will get back to you as soon as possible.</p>
						</div>
						<div class="form-group col-sm-6 half_col">
							<input id="name" type="text" class="form-control" name="name" placeholder="Name*" v-model="fields.name" />
							<div v-if="errors && errors.name" class="text-primary text-left">{{ errors.name[0] }}</div>
						</div>
						<div class="form-group col-sm-6 half_col">
							<input id="company" type="text" class="form-control" name="name" placeholder="Company" v-model="fields.company" />
							<div v-if="errors && errors.company" class="text-primary text-left">{{ errors.company[0] }}</div>
						</div>
						<div class="form-group col-sm-6 half_col">
							<input id="email" type="email" class="form-control" name="email" placeholder="Email Address*" v-model="fields.email" />
							<div v-if="errors && errors.email" class="text-primary text-left">{{ errors.email[0] }}</div>
						</div>
						<div class="form-group col-sm-6 half_col">
							<input id="phone" type="text" class="form-control" name="phone" placeholder="Phone number" v-model="fields.phone" />
							<div v-if="errors && errors.phone" class="text-primary text-left">{{ errors.phone[0] }}</div>
						</div>
						<div class="form-group col-sm-12 half_col">
							<textarea id="message" type="text" class="form-control" name="message" placeholder="Message*" v-model="fields.message"></textarea>
							<div v-if="errors && errors.message" class="text-primary text-left">{{ errors.message[0] }}</div>
						</div>
						<div class="col-sm-6 half_col">
							<div id="recaptcha-error" class="text-primary text-left"></div>
							<div class="g-recaptcha mb-3" :data-sitekey="this.$props.recaptcha" style="transform:scale(0.77);-webkit-transform:scale(0.77);transform-origin:0 0;-webkit-transform-origin:0 0;"></div>
						</div>
						<div class="col-sm-6 half_col">
							<div class="row">
								<div class="col-12">
									<button id="submit" type="submit" class="btn btn-primary float-right mob-btn-full">SEND</button>
								</div>
							</div>
						</div>
					</form>
				</div>
			</div>
		</div>
		<div class="modal-close" data-toggle="modal" data-target="#enquire_modal">
			<img src="/img/icons/close-modal.svg" alt="close modal" width="40">
		</div>
	</div>
</template>
<script>
	export default {
		props: {
			recaptcha: String,
			page: String,
			about: String,
		},
		data() {
			return {
				fields: {
					country: "",
					subject: "General Enquiry",
				},
				errors: {},
				success: false,
				loaded: true,
			}
		},
		mounted(){
			$.getScript("https://www.google.com/recaptcha/api.js");
		},
		methods: {
			messageSent(){
        this.fields = {};
      },
      changeCountry(value){
	  		this.fields.country = value;
	  	},
      submit() {
      	if (this.loaded && grecaptcha.getResponse().length > 0) {
      		$('#recaptcha-error').html('');
      		this.loaded = false;
      		this.success = false;
      		this.errors = {};

      		document.getElementById("loader").classList.add("on");
		      document.getElementById("loader-message").innerHTML = "Sending Enquiry";

      		axios.post('/send-message', this.fields)
      		.then(response => {
	          // Empty fields and enable success message
	          grecaptcha.reset();
	          this.loaded = true;
	          this.success = true;
	          this.messageSent();
	          document.getElementById("loader-message").innerHTML = "Enquiry sent successfully";
            $('#close-loader-btn').removeClass('d-none').addClass('d-block');
            $('#loader-roller').removeClass('d-block').addClass('d-none');
            $('#loader-success').removeClass('d-none').addClass('d-block');
	          $('#enquire_modal').modal('hide');
	        })
      		.catch(error => {
	         // Error handling
	          this.loaded = true;
	          if (error.response.status === 422) {
	          	this.errors = error.response.data.errors || {};
	          	console.log(error.response);
	          	document.getElementById("loader-message").innerHTML = "Check form for errors";
	            document.getElementById("loader").classList.remove("on");
	          }
	        });
      	}else{
      		$('#recaptcha-error').html('Please confirm you are not a robot.');
      	}
      },
    },
  }
</script>