<template>
	<div class="container-fluid bg-dark text-white">
	  <div class="row py-5 mob-mb-0 bg-fixed webp-hide" v-lazy:background-image="'/img/bg/wall.jpg'">
	    <div class="container py-5">
	      <div class="row justify-content-center">
	        <div class="col-lg-10 text-center">
	          <p class="text-primary mb-0 letter-spacing text-large text-fancy" data-aos="fade-in"><b>We want to hear from you!</b></p>
	          <h2 class="mb-4 scroll-fade" data-aos="fade-in">Seen Enough?</h2>
	          <p class="text-large mb-5 mob-mb-4"data-aos="fade-in">We want to work with you to improve your business's perception online. Get in touch today to find out more about how we can help!</p>
	          <NuxtLink to="/contact">
	          	<cool-button :color="'#fff'" :text="'Contact Us'"></cool-button>
	          </NuxtLink>
	        </div>
	      </div>
	    </div>
	  </div>
	  <div class="row py-5 mob-mb-0 bg-fixed no-webp-hide" v-lazy:background-image="'/img/bg/wall.webp'">
	    <div class="container py-5">
	      <div class="row justify-content-center">
	        <div class="col-lg-10 text-center">
	          <p class="text-primary mb-0 letter-spacing text-large text-fancy" data-aos="fade-in"><b>We want to hear from you!</b></p>
	          <h2 class="mb-4 scroll-fade" data-aos="fade-in">Seen Enough?</h2>
	          <p class="text-large mb-5 mob-mb-4"data-aos="fade-in">We want to work with you to improve your business's perception online. Get in touch today to find out more about how we can help!</p>
	          <NuxtLink to="/contact">
	          	<cool-button :color="'#fff'" :text="'Contact Us'"></cool-button>
	          </NuxtLink>
	        </div>
	      </div>
	    </div>
	  </div>
	</div>
</template>
<script>
	const CoolButton = () => import(/* webpackChunkName: "CoolButton" */ '../components/Button.vue');
  export default {
  	components: {
    	CoolButton,
		},
  	data() {
      return {
			}
		},
    mounted(){

    }
  }
</script>
<style lang="scss" scoped>
	.no-webp{
		.no-webp-hide{
			display: none;
		}
	}
	.webp{
		.webp-hide{
			display: none;
		}
	}
	.bg-fixed{
		background-attachment: fixed;
		@include background();
	}
	@media only screen and (max-width : 1100px){
		.bg-fixed{
			background-attachment: initial !important;
		}
	}
</style>