<template>
	<div class="menu position-absolute">
		<div class="container-fluid mob-px-3 px-5">
			<div class="row">
				<div class="col-2 col-lg-2 pt-4 mob-pt-3">
					<NuxtLink to="/">
						<img src="/img/logos/logo-full-grad.svg" class="menu_logo" alt="Element Seven Logo" v-if="pageType == 'dark'"/>
						<img src="/img/logos/logo-full-grad.svg" class="menu_logo" alt="Element Seven Logo" v-else/>
					</NuxtLink>
				</div>
				<div class="col-lg-10 pt-4 mt-2 text-right d-none d-lg-block">
					<div class="menu-links d-block ">
						<span class="menu-item cursor-pointer" :class="pageType == 'dark' ? 'text-dark' : 'text-white'"><NuxtLink :to="{ name: 'Work' }">Work</NuxtLink></span>
						<span class="menu-item cursor-pointer" :class="pageType == 'dark' ? 'text-dark' : 'text-white'"><NuxtLink :to="{ name: 'Services' }">Services</NuxtLink></span>					
						<span class="menu-item cursor-pointer "  :class="pageType == 'dark' ? 'text-dark' : 'text-white'"><NuxtLink :to="{ name: 'Blog' }">Blog</NuxtLink></span>			
						<span class="menu-item cursor-pointer"  :class="pageType == 'dark' ? 'text-dark' : 'text-white'"><NuxtLink :to="{ name: 'Contact' }">Contact</NuxtLink></span>
						<a href="https://www.facebook.com/elementsevendigital/" rel="noreferrer" class="mr-4"  :class="pageType == 'dark' ? 'text-dark' : 'text-white'" target="_blank" aria-label="Element Seven Facebook"><i class="fa fa-facebook ml-5"></i></a>
        		<a href="https://www.instagram.com/elementsevendigital/" rel="noreferrer" class="mr-4"  :class="pageType == 'dark' ? 'text-dark' : 'text-white'" target="_blank" aria-label=" Element Seven Instagram"><i class="fa fa-instagram"></i></a>
						<a href="https://twitter.com/elementsevenco/" rel="noreferrer" class="mr-4"  :class="pageType == 'dark' ? 'text-dark' : 'text-white'" target="_blank" aria-label=" Element Seven Twitter"><i class="fa fa-twitter"></i></a>
						<a href="https://www.linkedin.com/company/element-seven/" rel="noreferrer" class="mr-4"  :class="pageType == 'dark' ? 'text-dark' : 'text-white'" target="_blank" aria-label=" Element Seven Linkedin"><i class="fa fa-linkedin"></i></a>
					</div>
				</div>
			</div>
		</div>
	</div>
</template>
<script>
	export default {
		props: {
      pageType: String,
    },
		data() {
      return {

			}
		},
		mounted(){	
		},
		updated(){
		},
		methods: {
			backToTop(){
				setTimeout(function(){
          document.body.scrollTop = document.documentElement.scrollTop = 0;
        },250);
			},
		}
	}
</script>
<style lang="scss">
	.menu{
		position: absolute;
		top: 0;
		left: 0;
		z-index: 100;
		width: 100%;
		.menu_logo{
			width: 130px;
			&.menu_logo_normal{
				width: 130px;
			}
		}
		.menu-links{
			.menu-item{
				display: inline-block;
				margin-left: 2.5rem;
				cursor: pointer;
				color: $white;
				font-family: $body;
				font-weight: 700;
				font-size: 1rem;
				@include transition(300ms);
				a{
					color: $white;
					&:hover{
						color: $primary;
					}
				}
				i{
					font-size: 1.2rem;
					margin-left: 10px;
				}
				&:hover,
				&.active{
					color: $primary !important;
				}
			}
		}
		&.opacity{
			opacity: 0;
		}
	}
</style>