]<template>
	<div class="modal fade" id="saleModal" tabindex="-1" role="dialog" aria-labelledby="saleModalTitle" aria-hidden="true">
    <div class="modal-dialog modal-xl modal-dialog-centered" role="document">
      <div class="modal-content">
        <div class="blue-dots-top-right d-none d-lg-block" data-aos="slide-left"></div>
        <div class="pink-pentagon-top-right d-none d-lg-block" data-aos="slide-up" data-aos-delay="200"></div>
        <div class="bg-navy position-relative">
          <div class="modal-header px-5 mob-px-3 pb-0 position-relative">
            <h5 class="w-100 mb-0 text-pink text-center text-lg-left" id="exampleModalLongTitle">#KICKSTART2021</h5>
          </div>
          <div class="modal-body px-5 mob-px-0 position-relative">
            <div class="container px-0">
              <div class="row">
                <div class="col-lg-7 text-center text-lg-left">
                  <p class=" mb-0 text-large"><b>Contact us today for</b></p>
                  <p class="big-modal-text mb-0 mob-mb-0 text-pink">10% off!</p>
                  <p class="text-small d-none d-md-block">Leave your details and we will contact you. Alternatively <a href="tel:00442895031307">give us a call</a>, <a href="mailto:hello@elementseven.co">send us an email</a> or chat to us on <a href="https://www.facebook.com/elementsevendigital/" target="_blank">Facebook Messenger</a>. All quotes WILL include 10% off if you get in touch before the 31st of January 2021. Quotes are valid for 30 days after issue.</p>
                  <p class="text-small d-md-none">Discount for new quotes. Leave your details and we will contact you.</p>
                </div>
                <div class="col-lg-5">
                  <div class="d-block mb-2">
                    <input v-model="fields.name" type="text" class="form-control" placeholder="Name*"/>
                    <div v-if="errors && errors.name" class="text-primary">{{ errors.name[0] }}</div>
                  </div>
                  <div class="d-block mb-2">
                    <input v-model="fields.email" type="text" class="form-control" placeholder="Email*"/>
                    <div v-if="errors && errors.email" class="text-primary">{{ errors.email[0] }}</div>
                  </div>
                  <div class="d-block mb-3">
                    <input v-model="fields.phone" type="text" class="form-control" placeholder="Phone Number*"/>
                    <div v-if="errors && errors.phone" class="text-primary">{{ errors.phone[0] }}</div>
                  </div>
                  <div class="d-block text-center text-lg-right mob-pl-4">
                    <cool-button :color="'#fff'" :text="'CLAIM 10% OFF'" @clicked="submit()"></cool-button>
                  </div>
                  <p class="mt-4 text-center d-lg-none">Call us: <a href="tel:00442895031307">028 950 313 07</a><br> Email us: <a href="mailto:hello@elementseven.co">hello@elementseven.co</a></p>
                </div>
              </div>
            </div>
          </div>
          
        </div>
        <p class="close-modal text-small px-5 mob-px-3 text-center text-lg-left"><a class="close" data-dismiss="modal" aria-label="Close"><u>No thanks, continue to site</u></a></p>
      </div>
    </div>
  </div>
</template>

<script>

	export default {
		data() {
			return {
				errors: {},
				success: false,
				loaded: true,
        fields:{
          name: "",
          email: "",
          phone: "",
          company: "Cyber Monday",
          message: "Send me offer",
          token: "",
        }
			}
		},
		mounted(){
			$('#saleModal').modal('show');
		},
		methods: {
      messageSent(){
        this.fields = {};
      },
      changeCountry(value){
        this.fields.country = value;
      },
      submit() {
        this.$recaptcha("contact").then(token => {
          this.fields.token = token;
          if (this.token != "") {
            this.loaded = false;
            this.success = false;
            this.errors = {};
            
            document.getElementById("loader").classList.add("on");
            document.getElementById("loader-message").innerHTML = "Sending Request";

            axios.post('/send-message', this.fields)
            .then(response => {
              // Empty fields and enable success message
              this.loaded = true;
              this.success = true;
              this.messageSent();
              document.getElementById("loader-message").innerHTML = "Request sent successfully";
              $('#close-loader-btn').removeClass('d-none').addClass('d-block');
              $('#loader-roller').removeClass('d-block').addClass('d-none');
              $('#loader-success').removeClass('d-none').addClass('d-block');
              console.log(response);
              $('#saleModal').modal('hide');
            })
            .catch(error => {
             // Error handling
              this.loaded = true;
              console.log(error.response);
              if (error.response.status === 422) {
                this.errors = error.response.data.errors || {};
                console.log(error.response.data.message);
                document.getElementById("loader-message").innerHTML = "Check form for errors";
                document.getElementById("loader").classList.remove("on");
              }
            });
          }
        });
      },
    },
  }
</script>
<style lang="scss" scoped>
input.form-control,
select.form-control{
  border: 1px solid $navyhighlight;
  height: 60px;
  border-radius: 5px;
  color: $white !important;
  box-shadow: none !important;
  outline: none !important;
  font-family: $body;
  background-color: $navyhighlight;
  @include transition(300ms);
  &:focus{
    border: 1px solid $pink;
    background-color: $navyhighlight !important;
    box-shadow: none !important;
    outline: none !important;
  }
  &.smaller{
    border-radius: 0;
      height: 38px;
  }
}
.bg-navy{
  background-color: $navy;
}
#saleModal{
  z-index: 29000;
  .modal-content{
    width: 950px;
    height: 500px;
    left: calc(50% - 475px);
    background-color: $navy;
    border-radius: 0;
    h5{
      font-size: 51px;
      font-weight: 900;
      font-family: "Teko", sans-serif;
      letter-spacing: 3px;
    }
    p{
      color: $white;
      &.text-large{
        font-size: 24px;
        font-weight: 900;
        color: $white;
        font-family: "Noto Sans", sans-serif;
      }
      &.big-modal-text{
        font-size: 147px;
        line-height: 1;
        font-weight: 900;
        color: $pink;
        font-family: "Teko", sans-serif;
      }
      &.text-small{
        font-size: 0.9rem;
      }
      &.close-modal{
        position: absolute;
        z-index: 2;
        bottom: 15px;
        font-weight: 300;
        left: 0;
        color: $white;
        a{
          cursor: pointer;
          opacity: 1;
          font-size: 20px;
          font-weight: 300;
          color: $white !important;
          &:hover{
            color: #00daff !important;
          }
          &.close{
            text-shadow: none !important;
          }
        }
      }
    }
    .btn-black{
      background-color: $white;
      color: #fff;
      &.btn-long{
        font-size: 30px;
        width: 412px;
        padding: 5px;
        max-width: 412px;
        text-transform: none;
        border-radius: 0;
      }
      &:hover{
        background-color: $primary; 
      }
    }
    .modal-bg-img{
      position: absolute;
      bottom: 0;
      right: 0;
      z-index: 0;
      height: 95%;
    }
  }
  
  .modal-header,
  .modal-body{
    position: relative;
    z-index: 1;
    border-bottom: 0;
  }
}
// iPad in portrait & landscape: ;
@media only screen 
and (min-device-width : 768px) 
and (max-device-width : 1024px)  {
  #saleModal{
      .modal-content{
        padding-top: 2rem;
        padding-bottom: 2rem;
        height: auto;
        left: auto;
        h5{
          font-size: 41px;
        }
        p{
          &.big-modal-text{
            font-size: 107px;
          }
          &.close-modal{
            position: relative;
            margin-bottom: 0;
            width: 100%;
            a{
              width: 100%;
            }
          }
        }
      }
    }
  }
  // iPad in landscape
  @media only screen 
  and (min-device-width : 768px) 
  and (max-device-width : 1024px) 
  and (orientation : landscape) {
    #saleModal{
      .modal-content{
        left: auto;
        height: auto;
        h5{
          font-size: 41px;
        }
        p{
          &.big-modal-text{
            font-size: 107px;
          }
          &.close-modal{
            position: relative;
            margin-bottom: 0;
            width: 100%;
            a{
              width: 100%;
            }
          }
        }
      }
    }
  }
  // iPad in portrait
  @media only screen 
  and (min-device-width : 768px) 
  and (max-device-width : 1024px) 
  and (orientation : portrait) {
    #saleModal{
      .modal-dialog{
        max-width: 700px;
        
      }
      .modal-content{
        left: auto;
        height: auto;
        width: auto;
        h5{
          font-size: 35px;
        }
        p{
          &.big-modal-text{
            font-size: 87px;
          }
          &.close-modal{
            position: relative;
            margin-bottom: 0;
            width: 100%;
            a{
              width: 100%;
            }
          }
        }
        .btn-black{
          &.btn-long{
            font-size: 23px;
            width: 272px;
            max-width: 272px;
          }
        }
      }
    }
  }
  @media only screen and (max-width : 767px){
    .mob-px-3{
      padding-left: 1rem !important;
      padding-right: 1rem !important;
    }
    .mob-pl-4{
      padding-left: 1.3rem !important;
    }
    #saleModal{
      input.form-control{
        border: 1px solid $navyhighlight;
        height: 50px;
        border-radius: 5px;
        color: $white !important;
        box-shadow: none !important;
        outline: none !important;
        font-family: $body;
        font-size: 16px;
        background-color: $navyhighlight;
        @include transition(300ms);
        &:focus{
          border: 1px solid $pink;
          background-color: $navyhighlight !important;
          box-shadow: none !important;
          outline: none !important;
        }
        &.smaller{
          border-radius: 0;
            height: 38px;
        }
      }
      .modal-dialog{
        max-width: 100%;
      }
      .modal-content{
        left: auto;
        height: auto;
        width: 100%;
        border: 3vw solid $black;
        h5{
          font-size: 9vw;
        }
        p{
          &.text-large{
            font-size: 5vw;
          }
          &.big-modal-text{
            font-size: 28vw;
          }
          &.close-modal{
            position: relative;
            margin-bottom: 0;
            width: 100%;
            a{
              width: 100%;
              font-size: 3vw;
            }
          }
        }
        .btn-black{
          &.btn-long{
            font-size: 18px;
            width: 200px;
            max-width: 200px;
          }
        }
        .modal-bg-img{
          height: auto;
          width: 50%;
        }
      }
    }
  }
  @media only screen and (max-width : 340px){
    #saleModal{
      .modal-content{
        p{
          &.big-modal-text{
            font-size: 23vw;
          }
        }
      }
    }
  }
</style>