<template>
	<footer class="pt-5">
    <div class="container pb-3 mt-5 mob-mt-0">
      <div class="row justify-content-center mb-4">
      	<div class="col-lg-4 pt-4 text-center text-lg-left ipadp-py-3">
          <img src="/img/logos/logo-full-grad.svg" class="menu_logo" alt="Element Seven, modern responsive Web Design Belfast logo"/>
        </div>
        <div class="col-lg-4 text-center text-lg-left ipadp-py-3">
        	<h5 class="d-none d-lg-block">Follow us</h5>
        	<p class="d-lg-none mt-3"><a href="https://www.facebook.com/elementsevendigital/" rel="noreferrer" class="mr-4" target="_blank" aria-label=" Element Seven Facebook"><i class="fa fa-facebook"></i></a><a href="https://www.instagram.com/elementsevendigital/" rel="noreferrer" class="mr-4" target="_blank" aria-label=" Element Seven Facebook"><i class="fa fa-instagram"></i></a><a href="https://twitter.com/elementsevenco/" rel="noreferrer" class="mr-4" target="_blank" aria-label=" Element Seven Facebook"><i class="fa fa-twitter"></i></a><a href="https://www.linkedin.com/company/element-seven/" rel="noreferrer" class="mr-0" target="_blank" aria-label=" Element Seven Facebook"><i class="fa fa-linkedin"></i></a></p>
        	<p class="mb-1 d-none text-small d-lg-block"><a href="https://www.facebook.com/elementsevendigital/" rel="noreferrer" class="mr-4" target="_blank" aria-label=" Element Seven Facebook"><i class="fa fa-facebook mr-3"></i> Facebook</a></p>
        	<p class="mb-1 d-none text-small d-lg-block"><a href="https://www.instagram.com/elementsevendigital/" rel="noreferrer" class="mr-4" target="_blank" aria-label=" Element Seven Facebook"><i class="fa fa-instagram mr-3"></i>Instagram</a></p>
        	<p class="mb-1 d-none text-small d-lg-block"><a href="https://twitter.com/elementsevenco/" rel="noreferrer" class="mr-4" target="_blank" aria-label=" Element Seven Facebook"><i class="fa fa-twitter mr-3"></i>Twitter</a></p>
        	<p class="mb-1 d-none text-small d-lg-block"><a href="https://www.linkedin.com/company/element-seven/" rel="noreferrer" class="mr-4" target="_blank" aria-label=" Element Seven Facebook"><i class="fa fa-linkedin mr-3"></i>Linkedin</a></p>
        </div>
        <div class="col-lg-4 text-center text-lg-left ipadp-py-3">
        	<h5 class="mob-mt-5">Belfast</h5>
        	<p class="mb-4 text-small">136 Lisburn Road, Belfast,<br/>BT9 6AJ</p>
          <p class="mb-1 text-small"><a href="tel:02895031307"><i class="fa fa-phone mr-2"></i> 028 950 31307</a></p>
          <p class="mb-1 text-small"><a href="mailto:hello@elementseven.co"><i class="fa fa-envelope mr-2"></i> hello@elementseven.co</a></p>
        </div>
      </div>
    </div>
    <div class="copyright mt-5 mob-mt-0 pb-3 text-center">
      <p class="c-cards text-white mb-2"><i class="fa fa-cc-mastercard" aria-hidden="true"></i><i class="fa fa-cc-visa ml-2" aria-hidden="true"></i><i class="fa fa-paypal ml-2" aria-hidden="true"></i><i class="fa fa-cc-stripe ml-2" aria-hidden="true"></i></p>&copy;2020 Element Seven Digital Limited <span class="d-none d-md-inline">&nbsp;|&nbsp;</span><br class="d-md-none" /> <NuxtLink :to="{ name: 'Tandcs' }" class="text-white">Terms &amp; Conditions</NuxtLink></div>
  </footer>
</template>
<script>
	export default {
	  methods:{
	  	backToTop(){
					document.body.scrollTop = document.documentElement.scrollTop = 0;
			},
	  }
	}
</script>
<style lang="scss" scoped>
	// Footer ---------------
	footer{
		background-color: #090919;
		color: $white;
		border-top: 6px solid $pink;
		a{
			cursor: pointer;
			color: $white !important;
			&:hover{
				color: $primary !important;
			}
			&.text-white{
				color: $white !important;
				&:hover{
					color: $primary !important;
				}
			}
		}
		p{
			font-size: 1.2rem;
			letter-spacing: 1px;
			color: $white;
		}
		img{
			max-width: 100%;
		}
		.footer-social{
			font-size: 25px;
		}
		.menu_logo{
			width:160px;
		}
		.copyright{
			color: $white;
			a{
				cursor: pointer;
				color: $white;
				&:hover{
					color: $primary;
				}
			}
		}
	}
</style>