<template>
	<div class="container-fluid bg-dark text-white py-5 mob-py-0">
	  <div class="row">
	    <div class="container py-5">
	      <div class="row">
	        <div class="col-12 text-center py-5">
	          <h2 class="">Speaking of <span class="text-primary">reputation...</span></h2>
	          <div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
	            <ol class="carousel-indicators">
	              <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
	              <li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
	              <li data-target="#carouselExampleIndicators" data-slide-to="2"></li>
	              <li data-target="#carouselExampleIndicators" data-slide-to="4"></li>
	            </ol>
	            <div class="carousel-inner px-5 mob-px-0 pb-5">
	              <div class="carousel-item active">
	                <div class="p-5 mob-px-0 testimonial">
	                  <div class="px-5 mob-px-0">
	                    <p class="mb-2"><a href="https://portadowntiles.co.uk" target="_blank"><i class="fa fa-link"></i></a></p>
	                    <p class="text-large">Element Seven recently redesigned our website and we couldn't be happier. From first consultation to finished product their attention to detail and patience with a litany of daft questions were unfailing. We at Portadown Tiles & Bathrooms would have no hesitation in recommending Element Seven to anyone.</p>
	                    <p class="text-small mb-1"><b>Jenni Wilson - Portadown Tiles &amp; Bathrooms</b></p>
	                    <p class="mb-0 text-small"><b><a href="#">View Project &nbsp;<i class="fa fa-angle-double-right"></i></a></b></p>
	                  </div>
	                </div>
	              </div>
	              <div class="carousel-item">
	                <div class="p-5 mob-px-0 testimonial">
	                  <div class="px-5 mob-px-0">
	                    <p class="mb-2"><a href="https://galgormtrophies.com" target="_blank"><i class="fa fa-link"></i></a></p>
	                    <p class="text-large">Element Seven recently re-branded and designed our new website along with a new company Logo. We were delighted with his attention to detail and "nothing is a problem attitude". Element Seven's after sales service is excellent. We would highly recommend Kyle to anyone requiring website design and development.</p>
	                    <p class="text-small mb-1"><b>Paul McWilliams - Galgorm Trophies</b></p>
	                    <p class="mb-0 text-small"><b><a href="#">View Project &nbsp;<i class="fa fa-angle-double-right"></i></a></b></p>
	                  </div>
	                </div>
	              </div>
	              <div class="carousel-item">
	                <div class="p-5 mob-px-0 testimonial">
	                  <div class="px-5 mob-px-0">
	                    <p class="mb-2"><a href="https://xeroplas.com" target="_blank"><i class="fa fa-link"></i></a></p>
	                    <p class="text-large">Element Seven recently redesigned our website and we couldn't be happier. From first consultation to finished product their attention to detail and patience with a litany of daft questions were unfailing. We at Portadown Tiles & Bathrooms would have no hesitation in recommending Element Seven to anyone.</p>
	                    <p class="text-small mb-1"><b>Colin Thompson - Xeroplas Recycling</b></p>
	                    <p class="mb-0 text-small"><b><a href="#">View Project &nbsp;<i class="fa fa-angle-double-right"></i></a></b></p>
	                  </div>
	                </div>
	              </div>
	              <div class="carousel-item">
	                <div class="p-5 mob-px-0 testimonial">
	                  <div class="px-5 mob-px-0">
	                    <p class="mb-2"><a href="https://aplusmotoringacademy.com" target="_blank"><i class="fa fa-link"></i></a></p>
	                    <p class="text-large">Element seven recently developed a website for my company. The service we received was exceptional from the start. We love our new site and I would highly recommend these guys. Thanks Kyle and Jenni!</p>
	                    <p class="text-small mb-1"><b>Ali Campbell - A+ Motoring Academy</b></p>
	                    <p class="mb-0 text-small"><b><a href="#">View Project &nbsp;<i class="fa fa-angle-double-right"></i></a></b></p>
	                  </div>
	                </div>
	              </div>
	            </div>
	            <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
	              <span class="carousel-control-prev-icon" aria-hidden="true"></span>
	              <span class="sr-only">Previous</span>
	            </a>
	            <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
	              <span class="carousel-control-next-icon" aria-hidden="true"></span>
	              <span class="sr-only">Next</span>
	            </a>
	          </div>
	        </div>
	      </div>
	    </div>
	  </div>
	</div>
</template>