// Desktop
@media only screen and (min-width : 1300px){
	.container.wide-container{
		max-width: 1200px;
	}
}
@media only screen and (min-width : 1400px){
	.container.wide-container{
		max-width: 1300px;
	}
}
@media only screen and (min-width : 1500px){
	.container.wide-container{
		max-width: 1400px;
	}
}
@media only screen and (min-width : 1700px){
	.container.wide-container{
		max-width: 1600px;
	}
}
@media only screen and (min-width : 768px){

}