// above iPad in portrait
@media only screen and (min-device-width : 769px){

}

// iPad in portrait
@media only screen 
and (min-device-width : 768px) 
and (max-device-width : 1024px) 
and (orientation : portrait) {
	body{
		h1.home-top-title{
			font-size: 6rem;
			&:after{
				bottom: -0.5rem;
			}
		}
	}
	.astro{
		width: 70%;
	}
	#scroll-menu,
	.menu{
		.menu-links{
			.menu-item{
				&:hover{
			  	box-shadow: none;
				}
				&.yellow-underline{
			  	box-shadow: none;
				}
			}
		}
	}
	#menu_btn, .menu_btn{
		top: 50px;
    right: 30px;
	}
	.home-top-video{
		display: none;
	}
	.home-top{
		p{
			&.text-large{
				font-size: 4vw;
				i{
					margin-right: 2.5vw;
				}
			}
		}
	}
	#mobile_menu{
		.mobile_menu_inner{
			.menu_item{
				a{
					font-size: 30px;
				}
			}
		}
		.mobile_menu_social{
			bottom: 50px;
			left: 50px;
		}
		.mobile_menu_logo{
			width: 280px;
		}
	}
	.ipad_p_pr_15{
		padding-right: 15px !important; 
	}
	.ipad_p_mb_5{
		margin-bottom: 3rem !important
	}
	.ipadp-height-auto{
		height: auto !important;
	}
	.ipadp-pr-3{
		padding-right: 1rem !important;
	}
	.ipadp-mt-5{
		margin-top: 3rem !important;
	}
	.ipadp-mb-5{
		margin-bottom: 3rem !important;
	}
	.ipadp-py-0{
		padding-top: 0 !important;
		padding-bottom: 0 !important;
	}
	.ipadp-py-3{
		padding-top: 1rem !important;
		padding-bottom: 1rem !important;
	}
	.ipadp-py-5{
		padding-top: 3rem !important;
		padding-bottom: 3rem !important;
	}
	.ipadp-pt-5{
		padding-top: 3rem !important;
	}
	.ipadp-pr-5{
		padding-right: 3rem !important;
	}
	.ipadp-px-3{
		padding-left: 1rem !important;
		padding-right: 1rem !important;
	}
	.ipadp-pt-0{
		padding-top: 0 !important;
	}
	.ipadp-mt-0{
		margin-top: 0 !important;
	}
	.ipadp-mx-auto{
		margin-left: auto !important;
		margin-right: auto !important;
	}
	.ipadp-mx-w-100{
    max-width: 100%;
  }
  .bg-third:after{
  	background-position: 14% 0%;
  }
}
// above iPad in portrait
@media only screen and (max-device-width : 768px){
	.below_ipad_p_hide{
		display: none !important;
	}
}