// iPad in landscape
@media only screen 
and (min-device-width : 768px) 
and (max-device-width : 1024px) 
and (orientation : landscape) {
	.top{
		.top_inner{
			position: absolute;
		    top: 30px;
		    left: 30px;
		    width: calc(100% - 60px);
		    height: calc(100% - 60px);
		}
		.top_bottom{
			.btn-line{
				margin-bottom: 0;
			}
		}
	}
	.zoom-link .blog-img{
		max-height: 300px !important;
	}
	body h1.home-top-title{
		font-size: 6rem !important;
		&:after{
    	right: 120px !important;
		}
	}
	body h2.smaller{
		font-size: 3.5rem !important;
	}
}