@media only screen and (max-width : 767px){
	body {
		h1{
			font-size: 9vw;
			&.page-top{
			  font-size: 15vw;
			}
			&.home-top-title{
			  font-size: 15vw !important;
			  &:after{
			  	display: none;
			  	font-size: 5vw;
			  	width: 28vw;
			  	right: 0;
			  	bottom: -9vw;
			  }
			}
		}
		h2 {
	    font-size: 11vw;
	    &.smaller{
	    	font-size: 9vw;
	    }
		}
		h3{
	    font-size: 10vw;
		}
		h4{
			font-size: 10vw;
			&.larger{
				font-size: 10vw;
				&.mt-minus{
					margin-top: -15vw;
				}
			}
		}
		p{
			font-size: 4vw;
			line-height: 1.7;
			&.page-strap{
				font-size: 5vw;
			}
			&.strap {
			    font-size: 6vw;
			    line-height: 8vw;
			}
			&.statement{
		    font-size: 5vw;
		    line-height: 8vw;
			}
			&.text-larger{
				font-size: 4.5vw;
			}
			&.text-large{
				font-size: 5vw;
			}
			&.text-fancy{
				font-size: 5vw !important;
			}
			&.mimic-h2{
				font-size: 12vw;
				&.smaller{
					font-size: 9vw;
				}
			}
			&.mimic-h3{
				font-size: 11vw;
			}
		}
	}
	.scroll-indicator{
		right: 1.5rem !important;
	}
	.container,
	.container-fluid{
		padding-left: 1.5rem !important;
		padding-right: 1.5rem !important;
	}
	.carousel-control-prev-icon, .carousel-control-next-icon{
		display: none;
	}
	.astro{
    right: 0;
    width: 100%;
    bottom: 20%;
	}
	.bg-half{
		right: -80px;
    width: 100%;
    height: 100%;
    background-attachment: initial;
  	background-size: contain;
  	&.page-top {
	    bottom: 0;
	    width: 100%;
	    background-position: 100% 90%;
		}
	}
	.bg-half-2 {
    width: 80%;
    height: 100%;
    background-size: 90%;
    background-attachment: initial;
  	background-size: contain;
  	&.page-top {
	    bottom: 0;
	    width: 100%;
	    background-position: 100% 90%;
		}
  }
	.blog-bg{
    width: 100%;
    background-attachment: initial;
  	background-size: contain;
  	background-position: center bottom;
	}
	.bg-third{
		margin-bottom: 300px !important;
		&:after{
			width: calc(100% + 1.54rem);
			height: 300px;
			top: auto;
			bottom: -300px;
			left: -1rem;
		}
	}
	.home-client{
		height: 400px;
	}
	.mob-border-bottom{
		border-right: 0 !important;
		border-bottom: 1px solid $white;
	}
	.form-control{
		font-size: 16px;
	}
	.bg-fixed{
		background-attachment: initial;
	}
	.top-links{
		display: none;
	}
	.mob-overflow-hidden{
		overflow: hidden;
	}
	.menu{
		.menu_logo{
			width: 120px !important;
		}
		.menu-links{
			.menu-item{
				i{
					font-size: 8vw;
					margin-right: 40px;
				}
			}
		}
	}
	#scroll-menu{
		.menu_logo{
			width: 120px !important;
		}
	}
	.scroll-btn{
		left: 1rem;
	}
	.scroll-btn-wrap{
		left: 1rem;
	}
	.mob-bg-cover{
		background-size: cover !important;
	}
	.home-box{
		min-height: 165px;
	}
	.scroller{
		display: none;
	}
	.related-box .related-box-inner h4{
		font-size: 10vw;
		line-height: 10vw;
	}
	.short-height{
		height: 340px;
	}
	.mob-p-0{
		padding: 0 !important;
	}
	.mob-p-3{
		padding: 1rem !important;
	}
	.mob-p-4{
		padding: 1.5rem !important;
	}
	.mob-pl-3{
		padding-left: 1rem !important;
	}
	.mob-px-0{
		padding-left: 0 !important;
		padding-right: 0 !important;
	}
	.mob-px-1{
		padding-left: 1rem !important;
		padding-right: 1rem !important;
	}
	.mob-px-3{
		padding-left: 1rem !important;
		padding-right: 1rem !important;
	}
	.mob-px-4{
		padding-left: 1.5rem !important;
		padding-right: 1.5rem !important;
	}
	.mob-px-5{
		padding-left: 3rem !important;
		padding-right: 3rem !important;
	}
	.mob-pr-1{
		padding-right: 1rem !important;
	}
	.mob-pr-3{
		padding-right: 1rem !important;
	}
	.mob-py-0{
		padding-top: 0 !important;
		padding-bottom: 0 !important;
	}
	.mob-py-3{
		padding-top: 1rem !important;
		padding-bottom: 1rem !important;
	}
	.mob-py-5{
		padding-top: 3rem !important;
		padding-bottom: 3rem !important;
	}
	.mob-pb-0{
		padding-bottom: 0 !important;
	}
	.mob-pt-0{
		padding-top: 0 !important;
	}
	.mob-pt-3{
		padding-top: 1rem !important;
	}
	.mob-pt-4{
		padding-top: 1.5rem !important;
	}
	.mob-pt-5{
		padding-top: 3rem !important;
	}
	.mob-pb-3{
		padding-bottom: 1rem !important;
	}
	.mob-mx-auto{
		margin-left: auto !important;
		margin-right: auto !important;
	}
	.mob-mx-0{
		margin-left: 0 !important;
		margin-right: 0 !important;
	}
	.mob-my-0{
		margin-top: 0 !important;
		margin-bottom: 0 !important;
	}
	.mob-my-4{
		margin-top: 2rem !important;
		margin-bottom: 2rem !important;
	}
	.mob-mb-0{
		margin-bottom: 0 !important;
	}
	.mob-mb-1{
		margin-bottom: 0.5rem !important;
	}
	.mob-mb-3{
		margin-bottom: 1rem !important;
	}
	.mob-mb-4{
		margin-bottom: 1.5rem !important;
	}
	.mob-mb-5{
		margin-bottom: 3rem !important;
	}
	.mob-mt-0{
		margin-top: 0 !important;
	}
	.mob-mt-3{
		margin-top: 1rem !important;
	}
	.mob-mt-5{
		margin-top: 3rem !important;
	}
	.mob-m-auto{
		margin: auto !important;
	}
	.mob-float-left{
		float: left !important;
	}
	.mob-float-none{
		float: none !important;
	}
	.mob-height-auto{
		height: auto !important;
	}
	.mob-btn-full{
		width: 100% !important;
		max-width: 100% !important;
	}
	.mob-text-center{
		text-align: center !important;
	}
	.line{
		&.mob-line-center{
			span{
				float: none !important;
				margin: auto !important;
			}
		}
	}
	.testimonial{
		height: auto !important;
	}
	.phone-padding{
		padding-bottom: 3rem;
	}
	.phone-bg{
		width: 100%;
		height: 100vw;
		.home-phone{
			width: 100% !important;
			height: auto;
			left: auto;
		}
		.shape{
			width: 350px;
			height: 350px;
			left: -100px;
			top: -150px;
		}
		.shape-2{
			width: 350px;
			height: 350px;
			left: calc(50% - 100px);
			top: 0;
		}
	}
	.mob-home-project{
		.pink-dots-bottom-left{
			width: 62vw !important;
	    height: 70vw !important;
		}
		.blue-circle-bottom-left{
			bottom: calc(100% - 19vw)!important;
	    left: -15vw!important;
	    width: 30vw !important;
	    height: 30vw !important;
	    z-index: 0 !important;
		}
	}
	.zoom-link .blog-img{
		height: 56vw !important;
		max-height: 56vw !important;
	}
	.blog-show{
		.pink-circle-top-right{
			top: 0;
		}
		.blue-dots-top-right{
			right: -186px;
			width: 240px;
		}
	}
	.blog-body{
		div{
			font-size: 4vw;
			line-height: 1.7;
		}
	}
}