<template>
	<div class="page">
		<header class="container position-relative pt-5">
		  <div class="row pt-5">
		    <div class="col-lg-12 mt-5 pt-5 mob-pt-0">
		    	<p class="text-pink mb-0 letter-spacing text-fancy text-large position-relative"><b class="text-pink cursor-pointer">Browse our recent projects</b></p>
		      <h1 class="mob-mt-0 faq-title">Our Work</h1>
		    </div>
		  </div>
		</header>
		<work-index :categories="categories" :limit="4" v-if="categories != null"></work-index>
	</div>
</template>
<script>
	const WorkIndex = () => import(/* webpackChunkName: "WorkIndex" */ '../../components/Work/Index.vue');
	export default {
		head: {
	    title: 'Our Work - Web Designer blog Belfast, Northern Ireland | Element Seven',
	    meta: [
	      { name: 'description', content: "View some of our recent projects and see why using the latest web design & development techniques works for our clients." },
	      { name: 'og-title', content: "Our Work - Web Designer blog Belfast, Northern Ireland | Element Seven" },
	      { name: 'og-image', content: "https://elementseven.co/img/og1.jpg" },
	      { name: 'og:description', content: "View some of our recent projects and see why using the latest web design & development techniques works for our clients." },
	      { name: 'og-url', content: "https://elementseven.co/work" },
	    ],
	  },
		data() {
      return {
      	categories: null,
      	api: '/work/get-categories',
			}
		},
		components: {
			WorkIndex
		},
		mounted(){
			this.$emit('hideLoader');
			this.$emit('pageChange', {'type':'dark', 'page':'work', 'title':'Work'});
			this.getCategories();
		},
	  methods:{
	  	async getCategories(){
	  		this.$axios.get(this.api)
	  		.then(({ data }) => {
          this.categories = data;
          this.loaded = true;

        }).catch(error => {
          // Error handling
          this.loaded = true;
          console.log(error);
        });
	  	}
	  }
	}
</script>
<style lang="scss">
	
</style>