<style lang="scss">
  .search-form{
    margin-top: -50px;
  }
</style>
<template>
  <div id="blog-page-header" class="search-page container-fluid mt-3 mob-mt-0 overflow-hidden">
    <div class="row">
      <div class="container">
        <div class="row">
          <div class="container mob-px-0">
            <div class="row mb-4">
              <div class="col-lg-10">
                <div class="dropdown d-inline">
                  <button class="text-btn text-primary text-capitalize" type="button" id="newsCategory" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    <span v-if="catname != '*'">{{catname}}</span><span v-else>sort by category</span> <i class="fa fa-angle-down"></i> 
                  </button>
                  <div class="dropdown-menu" aria-labelledby="newsCategory">
                    <span class="dropdown-item" @click="changeCategory('*')">Any Category</span>
                    <span v-for="category in categories" class="dropdown-item"  @click="changeCategory(category)">{{category.name}}</span>
                  </div>
                </div>  
              </div>
              <!-- <div class="col-lg-2">
                <p class="float-right d-inline-block">Next Page</p>
              </div> -->
            </div>
          </div>
        </div>
        <div class="row">
          <blog-show :category="this.fields.category" :title="this.title" :limit="limit" :showpagination="true"></blog-show>
        </div>
      </div>
    </div>
   
  </div>  
</template>
<script>
  const BlogShow = () => import(/* webpackChunkName: "BlogShow" */ './Show.vue');
export default {
  props: {
    categories: Array,
    limit: Number,
  },
  components:{
    BlogShow
  },
  data() {
    return {
      fields: {
        category: '*'
      },
      catname: '*',
      title: '',
      errors: {},
      success: false,
      loaded: true,
      page: 1,
      scrollTo: 0,
      loadmore: true,
    }
  },
  methods: {
    toggleSearch(){
      $('#news-search-bar').toggleClass('on');
    },
    changeCategory(cat){
      if(cat.id){
        this.fields.category = cat.id.toString();
        this.catname = cat.name;
      }else{
        this.fields.category = '*';
        this.catname = '*';
      }
    },
  },
}
</script>
<style lang="scss">
  .infinite-status-prompt{
    display: none;
  }
  .dropdown-menu{
    background-color: $darknavy;
    span.dropdown-item{
      color: $white;
      cursor: pointer;
      &:hover{
        background-color: $pink;
      }
    }
  }
  #news-search-bar{
    width: 0;
    margin-bottom: -19px;
    -webkit-transition: all 300ms ease;
    -moz-transition: all 300ms ease ;
    -o-transition: all 300ms ease;
    transition: all 300ms ease;
    &.on{
      width: 300px;
    }
  }
  button.text-btn{
    border: 0;
    box-shadow: none !important;
    outline: none !important;
    background: none !important;
    text-transform: uppercase;
    font-size: 16px;
  }
</style>
