<template>
  <div class="front">
    <mobile-menu class="d-lg-none"></mobile-menu>
    <main-menu></main-menu>
    <scroll-menu></scroll-menu>
    <div class="main-page">
      <div id="menu-trigger"></div>
      <transition name="fade" mode="out-in" appear>
        <Nuxt />
      </transition>
    </div>
    <footer-top></footer-top>
    <site-footer></site-footer>
    <loader></loader>
    <!-- <sale-modal></sale-modal> -->
  </div>
</template>
<script>
export default {
    mounted(){
      $('#menu-trigger').each(function(index, element){
        var inview = new Waypoint({
          element: element,
          handler: function (direction) {
            if(direction === "down"){
              $('#scroll-menu').addClass('on');
            }else{
              $('#scroll-menu').removeClass('on');
            }
          },offset: '0%'
        });
      });
    }
  }
</script>
<style>
html {
  font-family:
    'Source Sans Pro',
    -apple-system,
    BlinkMacSystemFont,
    'Segoe UI',
    Roboto,
    'Helvetica Neue',
    Arial,
    sans-serif;
  font-size: 16px;
  word-spacing: 1px;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
}

.button--green {
  display: inline-block;
  border-radius: 4px;
  border: 1px solid #3b8070;
  color: #3b8070;
  text-decoration: none;
  padding: 10px 30px;
}

.button--green:hover {
  color: #fff;
  background-color: #3b8070;
}

.button--grey {
  display: inline-block;
  border-radius: 4px;
  border: 1px solid #35495e;
  color: #35495e;
  text-decoration: none;
  padding: 10px 30px;
  margin-left: 15px;
}

.button--grey:hover {
  color: #fff;
  background-color: #35495e;
}
#menu-trigger{
  position: absolute;
  top: 100vh;
  left: 0;
  width: 1px;
  height: 1px;
}
</style>
