<template>
	<div class="page">
		<header class="container position-relative pt-5">
		  <div class="row pt-5">
		    <div class="col-lg-12 mt-5 pt-5 mob-pt-0">
		    	<p class="text-pink mb-0 letter-spacing text-fancy text-large position-relative"><b class="text-pink cursor-pointer">Browse our blog posts</b></p>
		      <h1 class="mob-mt-0 faq-title">Web Design Blog</h1>
		    </div>
		  </div>
		</header>
		<blog-index :categories="categories" :limit="4" v-if="categories != null"></blog-index>
	</div>
</template>
<script>
	const BlogIndex = () => import(/* webpackChunkName: "BlogIndex" */ '../../components/Blog/Index.vue');
	export default {
		head: {
	    title: 'Blog - Web Design blog Belfast, Northern Ireland | Element Seven',
	    meta: [
	      { name: 'description', content: "Read the Element Seven Blog to find out more about Websites, Web Design and Development in Belfast, Northern Ireland." },
	      { name: 'og-title', content: "Web Design Blog | Element Seven" },
	      { name: 'og-image', content: "https://elementseven.co/img/og1.jpg" },
	      { name: 'og:description', content: "Read the Element Seven Blog to find out more about Websites, Web Design and Development in Belfast, Northern Ireland." },
	      { name: 'og-url', content: "https://elementseven.co/blog" },
	    ]
	  },
		scrollToTop: true,
		data() {
      return {
      	categories: null,
      	api: '/blog/get-categories',
			}
		},
		components: {
			BlogIndex
		},
		mounted(){
			this.$emit('hideLoader');
			this.$emit('pageChange', {'type':'dark', 'page':'home', 'title':'Blog'});
			this.getCategories();
		},
	  methods:{
	  	getCategories(){
	  		this.$axios.get(this.api)
	  		.then(({ data }) => {
          this.categories = data;
          this.loaded = true;
          console.log(this.categories);
        }).catch(error => {
          // Error handling
          this.loaded = true;
          console.log(error);
        });
	  	}
	  }
	}
</script>
<style lang="scss">
	
</style>