<template>
	<div class="page" v-if="post.title != undefined">
		<header class="container position-relative py-5">
		  <div class="row pt-5">
		    <div class="col-lg-12 mt-5 pt-5 mob-pt-0">
		    	<p class="text-pink mb-0 letter-spacing text-fancy text-large position-relative"><NuxtLink :to="{ name: 'Blog' }"><i class="fa fa-link mr-2 cursor-pointer"></i><b class="text-pink cursor-pointer">Browse our blog posts</b></NuxtLink></p>
		      <h1 class="mob-mt-0 faq-title">{{post.title}}</h1>
		      <p class="text-primary mb-4 letter-spacing text-fancy text-large position-relative">{{niceDate(post.created_at)}}</p>
		      <p class="statement mb-5 scroll-line" data-line="draw-line">{{post.excerpt}}...</p>
		    </div>
		    <div class="col-lg-12 text-center">
	        <div class="rounded-image shadow mob-mb-3">
	          <div class="dots-and-circle-right"><div class="dots-beyond"></div> <div class="circle-beyond"></div></div>
	          <picture>
              <source :srcset="post.image" :type="post.mime"/> 
              <source :srcset="post.webp" type="image/webp"/>
              <img :src="post.image" :type="post.mime" :alt="post.title + ' featured image'" class="w-100" />
            </picture>
	        </div>
	      </div>
		  </div>
		</header>
		<div class="container">
		  <div class="row pb-5 mob-py-0">
		    <div class="col-xl-10 mob-mt-0 blog-body">
		      <div v-html="post.body"></div>
		      <div class="fb-like mt-5" :data-href="'/blog/'+moment(post.created_at)+'/'+post.slug" data-width="" data-layout="button_count" data-action="like" data-size="small" data-show-faces="true" data-share="true"></div>
		      <p class="text-primary text-small text-uppercase letter-spacing mt-3"><router-link :to="{ name: 'Blog' }"><i class="fa fa-angle-left" aria-hidden="true"></i> <b>ALL BLOG POSTS</b></router-link></p>
		    </div>
		  </div>
		</div>
		<div class="container-fluid py-5 position-relative overflow-hidden">
		  <div class="dots-line-bottom-right"></div>
		  <div class="row">
		    <div class="container py-5">
		      <div class="row">
		        <div class="col-12 mb-4 mob-mb-0">
		          <p class="text-pink mb-0 letter-spacing text-fancy text-large position-relative"><router-link :to="{ name: 'Blog' }"><i class="fa fa-link mr-2 cursor-pointer"></i><b class="text-pink cursor-pointer">Browse our blog posts</b></router-link></p>
		          <h3 class="mb-4 text-white mb-4">More Blog Posts</h3>
		        </div>
		      </div>
		      <div class="row position-relative">
		      	<div class="blue-dots-top-right d-none d-lg-block" data-aos="slide-left"></div>
	      		<div class="pink-pentagon-top-right d-none d-lg-block" data-aos="slide-up" data-aos-delay="200"></div>
		        <div class="col-lg-6" v-for="other in post.others.data">
		        	<router-link :to="{ name: 'BlogPost',  params: {blogDate: moment(other.created_at), blogSlug: other.slug } }">
		            <div class="zoom-link" data-aos="fade-in">
		              <div class="blog-img position-relative">
		              	<picture>
				              <source :srcset="other.image" :type="post.mime"/> 
				              <source :srcset="other.webp" type="image/webp"/>
				              <img :src="other.image" :type="other.mime" :alt="other.title" class="w-100" />
				            </picture>
				            <div class="pointer"><span></span></div>
		              </div>
		              <p class="text-primary mt-3 mb-0 letter-spacing text-fancy text-large position-relative">{{niceDate(other.created_at)}}</p>
		              <h5 class="text-white">{{other.title}}</h5>
		              <p class="text-white text-small">{{other.excerpt}}</p>
		            </div>
		          </router-link>
		        </div>
		      </div>
		    </div>
		  </div>
		</div>
	</div>
</template>
<script>
	export default {
		head() {
      return {
        title: this.post.title + ' - Blog - Element Seven',
        meta: [
		      { name: 'description', content: this.post.excerpt },
		      { name: 'og-image', content: 'https://elementseven.co'+this.post.image },
		      { name: 'og-title', content: this.post.title + ' - What we do - Element Seven' },
		      { name: 'og:description', content: this.post.excerpt },
		      { name: 'og-url', content: 'https://elementseven.co/blog/'+this.$route.params.blogDate+'/'+this.$route.params.blogSlug },
		    ]
      }
    },
		scrollToTop: true,
		data() {
      return {
      	post: {},
      	api: '/fetch/blog/'+this.$route.params.blogDate+'/'+this.$route.params.blogSlug,
			}
		},
		mounted(){
			this.getPost();
		},
		updated(){
			this.scrollLine();
		},
		watch: {
			$route(to, from) {
				this.api = '/fetch/blog/'+to.params.blogDate+'/'+to.params.blogSlug;
				this.backToTop();
	      this.getPost();
	    }
	  },
	  methods:{
	  	getPost(){
	  		this.$axios.get(this.api)
	  		.then(response => {
          this.post = response.data;
          this.loaded = true;
          this.$emit('hideLoader');
          this.$emit('pageChange', {'type':'dark', 'page':'View Course', 'title':this.post.name});
        })
        .catch(error => {
          this.$emit('hideLoader');
          // Error handling
          console.log(error);
        });
	  	},
	  	getExtension(d){
        if (d > 3 && d < 21) return 'th';
        switch (d % 10) {
          case 1:  return "st";
          case 2:  return "nd";
          case 3:  return "rd";
          default: return "th";
        }
      },
	  	niceDate: function (date) {
        var newdate = new Date(date);
        var thedate = newdate.getDate();
        var extension = this.getExtension(thedate);
        var months = ['Jan', 'Feb', 'Mar', 'Apr', 'May', 'Jun', 'Jul', 'Aug', 'Sep', 'Oct', 'Nov', 'Dec'];
        return thedate + extension + ' ' + months[newdate.getMonth()] + ' ' + newdate.getFullYear();
        // return moment(date).format('Do MMM YYYY');
      },
      moment: function (date) {
        var newdate = new Date(date);
        var thedate = newdate.getDate();
        var extension = this.getExtension(thedate);
        var months = ['Jan', 'Feb', 'Mar', 'Apr', 'May', 'Jun', 'Jul', 'Aug', 'Sep', 'Oct', 'Nov', 'Dec'];
        return newdate.getFullYear() + '-' + (newdate.getMonth() + 1).toString().padStart(2, '0') + '-' + thedate.toString().padStart(2, '0');
        // return moment(date).format('Do MMM YYYY');
      },
      backToTop(){
          document.body.scrollTop = document.documentElement.scrollTop = 0;
			},
      scrollLine(){
      	$('.scroll-line').each(function(index, element){
					var effect = $(this).attr("data-line");
					var inview = new Waypoint({
						element: element,
						handler: function (direction) {
							if (direction === 'down') {
								$(element).addClass(effect);
							}
						},offset: '80%'
					});
				});
      }
	  }
	}
</script>
<style lang="scss">
	.blog-body{
		font-size: 1.4rem;
		p{
			color: $white !important
		}
		h3{
			font-size: 2.5rem;
			margin-bottom: 2rem;
		}
		img{
			max-width: 100%;
	    display: block;
	    height: auto;
		}
		strong{
			font-family: $title;
			font-size: 2.5rem;
			line-height: 1.1;
			font-weight: 500;
			margin-bottom: 1rem;
			display: inline-block;
		}
	}
	.zoom-link{
		cursor: pointer;
		.blog-img{
			width: 100%;
			height: 360px;
			max-height: 360px;
			overflow: hidden;
			position: relative;
			img{
				position: absolute;
		    top:-100%; left:0; right: 0; bottom:-100%;
		    margin: auto;
		    @include transition(300ms);
			}
		}
		&:hover{
			.blog-img{
				img{
					transform: scale(1.1);
				}
			}
		}
	}
	.blue-dots-top-right{
    background-image: url('/img/shapes/dots_blue.svg');
    background-size: 100%;
    background-repeat: no-repeat;
    position: absolute;
    top: -60px;
    right: -200px;
    width: 250px;
    height: 418px;
    transform: rotate(-110deg) !important;
    -webkit-transform: rotate(-110deg) !important;
  }
  .pink-pentagon-top-right{
    background-image: url('/img/shapes/pentagon_pink.svg');
    background-size: 100%;
    background-repeat: no-repeat;
    position: absolute;
    top: -100px;
    right: calc(-150px + 1rem);
    width: 300px;
    height: 300px;
    -webkit-animation: rotating 100s linear infinite;
    -moz-animation: rotating 100s linear infinite;
    -ms-animation: rotating 100s linear infinite;
    -o-animation: rotating 100s linear infinite;
    animation: rotating 100s linear infinite;
   }
   @keyframes rotating {
    from {
      -ms-transform: rotate(0deg);
      -moz-transform: rotate(0deg);
      -webkit-transform: rotate(0deg);
      -o-transform: rotate(0deg);
      transform: rotate(0deg);
    }
    to {
      -ms-transform: rotate(360deg);
      -moz-transform: rotate(360deg);
      -webkit-transform: rotate(360deg);
      -o-transform: rotate(360deg);
      transform: rotate(360deg);
    }
  }
  .attachment__caption{
  	display: none !important;
  }
	 .pointer {
    position: absolute;
    bottom: 1rem;
    right: 1rem;
    display: block;
    width: 10px;
    height: 10px;
    border-radius: 50%;
    background: $pink;
    cursor: pointer;
    box-shadow: 0 0 0 rgb(255,50,162);
    animation: pulse 2s infinite;
  }
  .pointer span {
    color: #fff;
    text-align: center;
    display: block;
    width: 31px;
    padding: 5px 0px;
  }
  @-webkit-keyframes pulse {
    0% {
      -webkit-box-shadow: 0 0 0 0 rgba(255,50,162, 0.4);
    }
    70% {
        -webkit-box-shadow: 0 0 0 10px rgba(255,50,162, 0);
    }
    100% {
        -webkit-box-shadow: 0 0 0 0 rgba(255,50,162, 0);
    }
  }
  @keyframes pulse {
    0% {
      -moz-box-shadow: 0 0 0 0 rgba(255,50,162, 0.4);
      box-shadow: 0 0 0 0 rgba(255,50,162, 0.4);
    }
    70% {
        -moz-box-shadow: 0 0 0 10px rgba(255,50,162, 0);
        box-shadow: 0 0 0 10px rgba(255,50,162, 0);
    }
    100% {
        -moz-box-shadow: 0 0 0 0 rgba(255,50,162, 0);
        box-shadow: 0 0 0 0 rgba(255,50,162, 0);
    }
  }
</style>