<template>
	<div class="page">
		<header class="container position-relative pt-5">
		  <div class="row pt-5">
		    <div class="col-lg-12 mt-5 pt-5 mob-pt-0">
		      <p class="text-pink mb-0 letter-spacing text-fancy text-large position-relative"><b class="text-pink cursor-pointer">How we can help you</b></p>
		      <h1 class="mob-mt-0 page-top mb-5">Let's talk</h1>
		      <p class="statement mb-5 scroll-line" data-line="draw-line"><b>Whether its for a quote, a general enquiry or just some friendly advice, we would love to hear from you!</b></p>
		    </div>
		  </div>
		</header>
		<div class="container-fluid position-relative">
		  <div class="pink-dots-bottom-left d-none d-lg-block" data-aos="slide-right"></div>
		  <div class="blue-circle-bottom-left" data-aos="slide-up"></div>
      <div class="container mob-px-0">
        <contact-page-form :recaptcha="'6LeOVJkUAAAAAPDPp347RKrh_7B0nsjblaTJn5Kj'"></contact-page-form>
      </div>
	  </div>
		<div class="bg-primary-light py-5 mt-5">
    	<div class="container py-5 position-relative">
	    	
        <div class="row">
          <div class="col-lg-3">
            <p class="text-pink mb-0 letter-spacing text-fancy text-large position-relative" data-aos="fade-in"><b class="text-pink cursor-pointer">Come say Hi!</b></p>
            <h3>Find us</h3>
            <p class="mb-3">136 Lisburn Road, Belfast,<br/>BT9 6AJ</p>
            <p class="mb-1"><a href="tel:02895031307" class="text-primary">028 950 31307</a></p>
            <p class="mb-1"><a href="mailto:hello@elementseven.co" class="text-primary">hello@elementseven.co</a></p>
            <p class="mt-3"><a href="https://www.facebook.com/elementsevendigital/" class="mr-3" target="_blank">
                <i class="fa fa-facebook text-pink"></i>
              </a>
              <a href="https://www.instagram.com/elementsevendigital/" class="mr-3" target="_blank">
                <i class="fa fa-instagram text-pink"></i>
              </a>
              <a href="https://twitter.com/elementsevenco" class="mr-3" target="_blank">
                <i class="fa fa-twitter text-pink"></i>
              </a>
              <a href="https://www.linkedin.com/company/element-seven/" target="_blank"><i class="fa fa-linkedin text-pink"></i>
              </a>
             </p>
          </div>
          <div class="col-lg-9 position-relative">
          	<div class="pink-pentagon-top-right" data-aos="slide-up" data-aos-delay="200"></div>
            <div id="map"></div>
          </div>
        </div>
	    </div>
		</div>
	</div>
</template>
<script>
	
	const Loader = () => import(/* webpackChunkName: "Loader" */ '../components/Loader.vue');
	const ContactPageForm = () => import(/* webpackChunkName: "ContactPageForm" */ '../components/ContactPageForm.vue');
	export default {
	  head: {
			title: 'Contact Element Seven for a Web Design Quote | Phone, Email and Address',
	    meta: [
	      { name: 'description', content: "Get in touch with Element Seven, a professional Web Design and Development company based in Belfast, Northern Ireland." },
	      { name: 'og-title', content: "Contact | Element Seven" },
	      { name: 'og-image', content: "https://elementseven.co/img/og1.jpg" },
	      { name: 'og:description', content: "Get in touch with Element Seven, a professional Web Design and Development company based in Belfast, Northern Ireland." },
	      { name: 'og-url', content: "https://elementseven.co/contact" },
	    ]
	  },
		data() {
      return {
			}
		},
		components: {
			Loader,
			ContactPageForm
		},
		mounted(){
			$.getScript("https://maps.googleapis.com/maps/api/js?key=AIzaSyDJwAp_2r4ZyeXAMax2GXqao1RkEU_1TI8&region=GB&language=en-gb&callback=initMap");
			this.$emit('hideLoader');
			this.$emit('pageChange', {'type':'dark', 'page':'contact', 'title':'Contact'});
			const scrolllines = document.querySelectorAll(".scroll-line");
			scrolllines.forEach(scrollline => {
			  var effect = scrollline.dataset.line;
				var inview = new Waypoint({
					element: scrollline,
					handler: function (direction) {
						if (direction === 'down') {
							scrollline.classList.add(effect);
						}
					},offset: '80%'
				});
			});
		},	
	  methods:{
	  	
	  }
	}
</script>
<style lang="scss">
	#map{
		height: 500px;
	}
	label{
		font-family: $title;
		font-size: 1.3rem;
		letter-spacing: 4px;
	}
	input.form-control,
	select.form-control{
		border: 1px solid $navyhighlight;
		height: 60px;
		border-radius: 5px;
		color: $white !important;
		box-shadow: none !important;
		outline: none !important;
		font-family: $body;
		background-color: $navyhighlight;
		@include transition(300ms);
		&:focus{
			border: 1px solid $pink;
			background-color: $navyhighlight !important;
			box-shadow: none !important;
			outline: none !important;
		}
		&.smaller{
			border-radius: 0;
	    	height: 38px;
		}
	}
	textarea.form-control{
		border: 1px solid $navyhighlight;
		background-color: $navyhighlight;
		font-family: $body;
		color: $white !important;
		height: 100px;
		border-radius: 5px;
		box-shadow: none !important;
		outline: none !important;
		@include transition(300ms);
		&:focus{
			border: 1px solid $pink;
			background-color: $navyhighlight !important;
			box-shadow: none !important;
			outline: none !important;
		}
	}
.pink-pentagon-top-right{
    background-image: url('/img/shapes/pentagon_pink.svg');
    background-size: 100%;
    background-repeat: no-repeat;
    position: absolute;
    top: -75px;
    right: calc(-150px + 1rem);
    width: 300px;
    height: 300px;
    -webkit-animation: rotating 100s linear infinite;
    -moz-animation: rotating 100s linear infinite;
    -ms-animation: rotating 100s linear infinite;
    -o-animation: rotating 100s linear infinite;
    animation: rotating 100s linear infinite;
   }
   @keyframes rotating {
    from {
      -ms-transform: rotate(0deg);
      -moz-transform: rotate(0deg);
      -webkit-transform: rotate(0deg);
      -o-transform: rotate(0deg);
      transform: rotate(0deg);
    }
    to {
      -ms-transform: rotate(360deg);
      -moz-transform: rotate(360deg);
      -webkit-transform: rotate(360deg);
      -o-transform: rotate(360deg);
      transform: rotate(360deg);
    }
  }
.pink-dots-bottom-left{
	background-image: url('/img/shapes/smalldots_blue.svg');
	background-size: contain;
	background-repeat: no-repeat;
	position: absolute;
	bottom: calc(50% - 240px);
  left: -35px;
  width: 170px;
  height: 480px;	
  z-index: -1;
  transform: rotate(45deg) !important;
  -webkit-transform: rotate(45deg) !important;
}
.blue-circle-bottom-left{
	background-image: url('/img/shapes/circle_cyan.svg');
	background-size: 100%;
	background-repeat: no-repeat;
	position: absolute;
  bottom: calc(50% - 190px);
  left: -130px;
  width: 300px;
  height: 300px;
  z-index: 0;
}
</style>