<template>
  <div class="page">
    <welcome-header></welcome-header>
    <welcome-main></welcome-main>
  </div>
</template>
<script>
  const WelcomeHeader = () => import(/* webpackChunkName: "WelcomeHeader" */ '../components/Welcome/Header.vue');
  const WelcomeMain = () => import(/* webpackChunkName: "WelcomeMain" */ '../components/Welcome/Main.vue');
  export default {
    data() {
      return {
      }
    },
    components: {
      WelcomeHeader,
      WelcomeMain
    },
    mounted(){
      this.$emit('hideLoader');
      this.$emit('pageChange', {'type':'dark', 'page':'home', 'title':'Home'});
    },
    head: {
      title: 'Element Seven - Affordable Web Design Belfast, Northern Ireland',
      meta: [
        { name: 'description', content: "Affordable Web Design company in Belfast, Northern Ireland. We work with Start-Ups & Established Businesses, specialising in Web Design, SEO & Digital Marketing" },
        { name: 'og-title', content: "Element Seven - Affordable Web Design Belfast, Northern Ireland" },
        { name: 'og-image', content: "https://elementseven.co/img/og1.jpg" },
        { name: 'og:description', content: "Affordable Web Design company in Belfast, Northern Ireland. We work with Start-Ups & Established Businesses, specialising in Web Design, SEO & Digital Marketing" },
        { name: 'og-url', content: "https://elementseven.co" },
      ]
    },
  }
</script>
<style lang="scss">
  header.home-header{
    position: relative;
    overflow: hidden;
    height: 100vh;
    video {
      position: absolute;
      top: 50%;
      left: 50%;
      min-width: 100%;
      min-height: 100%;
      width: auto;
      height: auto;
      z-index: 0;
      -ms-transform: translateX(-50%) translateY(-50%);
      -moz-transform: translateX(-50%) translateY(-50%);
      -webkit-transform: translateX(-50%) translateY(-50%);
      transform: translateX(-50%) translateY(-50%);
    }
    .container {
      position: relative;
      z-index: 2;
    }
    .overlay {
      position: absolute;
      top: 0;
      left: 0;
      height: 100%;
      width: 100%;
      background-color: black;
      opacity: 0.4;
      z-index: 1;
    }
  }
  .full-height{
    height: 100vh;
  }
  @media only screen and (min-width : 1300px){
    .container.wide-container{
      max-width: 1200px;
    }
  }
  @media only screen and (min-width : 1400px){
    .container.wide-container{
      max-width: 1300px;
    }
  }
  @media only screen and (min-width : 1500px){
    .container.wide-container{
      max-width: 1400px;
    }
  }
  @media only screen and (min-width : 1700px){
    .container.wide-container{
      max-width: 1600px;
    }
  }
</style>