<template>
	<div class="page" v-if="landingpage.title != undefined">
		<header class="container position-relative pt-5">
		  <div class="row pt-5">
		    <div class="col-lg-12 mt-5 pt-5 mob-pt-0">
		    	<p class="text-pink mb-0 letter-spacing text-fancy text-large position-relative">{{landingpage.fancy}}</p>
		      <h1 class="mob-mt-0 faq-title">{{landingpage.title}}</h1>
		      <p class="text-primary mb-4 letter-spacing text-fancy text-large position-relative"></p>
		      <p class="statement mb-5 scroll-line" data-line="draw-line">{{landingpage.excerpt}}...</p>
		    </div>
		    <div class="col-lg-12 text-center">
	        <div class="rounded-image shadow mob-mb-3">
	          <div class="dots-and-circle-right"><div class="dots-beyond"></div> <div class="circle-beyond"></div></div>
	          <picture>
              <source :srcset="landingpage.image" :type="landingpage.mime"/> 
              <source :srcset="landingpage.webp" type="image/webp"/>
              <img :src="landingpage.image" :type="landingpage.mime" :alt="landingpage.title + ' featured image'" class="w-100" />
            </picture>
	        </div>
	      </div>
		  </div>
		</header>
		<div class="container wide-container py-5 mob-pt-0">
		  <div class="row mob-pt-0">
		    <div class="col-lg-6">
		      <picture> 
		      	<source :srcset="landingpage.landingpage1" :type="landingpage.landingpage1mime"/> 
            <source :srcset="landingpage.landingpage1webp" type="image/webp"/>
            <img :src="landingpage.landingpage1" :type="landingpage.landingpage1mime" :alt="landingpage.title + ' featured image'" class="w-100"  data-aos="fade-in"/>
          </picture>      
		    </div>
		    <div class="col-lg-6">
          <div class="d-table w-100 h-100">
            <div class="d-table-cell align-middle w-100 h-100 text-center text-lg-left">
				      <p class="text-pink mb-0 letter-spacing text-fancy text-large position-relative" data-aos="fade-in"><b class="text-pink">{{landingpage.fancy_1}}</b></p>
				      <h2 class="mb-4 smaller" data-aos="fade-in">{{landingpage.title_1}}</h2>
				      <div class="mb-4 text-large lp-text" v-html="landingpage.text_1"></div>
				      <cool-button :routerlink="'Contact'" :color="'#fff'" :text="'Contact Us'" data-aos="fade-up"></cool-button>
				    </div>
				  </div>
		    </div>
		  </div>
		</div>
		<div class="container-fluid position-relative">
		  <div class="pink-dots-bottom-left d-none d-lg-block" data-aos="slide-right"></div>
		  <div class="blue-circle-bottom-left d-none d-lg-block" data-aos="slide-up"></div>
		  <div class="row">
		    <div class="container">
		      <div class="row justify-content-center">
		        <div class="col-lg-10 text-center py-5 mb-5 ">
		          <p class="text-large text-pink"><i class="fa fa-star mr-1" data-aos="fade-in" data-aos-delay="100"></i><i class="fa fa-star mr-1" data-aos="fade-in" data-aos-delay="200"></i><i class="fa fa-star mr-1" data-aos="fade-in" data-aos-delay="300"></i><i class="fa fa-star mr-1" data-aos="fade-in" data-aos-delay="400"></i><i class="fa fa-star" data-aos="fade-in" data-aos-delay="500"></i></p>
		          <p class="mimic-h2 section-title mb-4 smaller" data-aos="fade-in">What our clients say...</p>
		          
		          <p class="mb-3 pb-2 position-relative" data-aos="fade-in"><i>"{{landingpage.testimonial}}"</i></p>
		          <p class="mb-4"><b>{{landingpage.testimonial_name}} - <router-link :to="{ name: 'WorkPost',  params: {workSlug: landingpage.testimonial_routerlink } }">{{landingpage.testimonial_project}}</router-link></b></p>
		          <cool-button :routerlink="'Contact'" :color="'#ffffff'" :text="'Get in touch'" data-aos="fade-up"></cool-button>
		        </div>
		      </div>
		    </div>
		  </div>
		</div>
		<div class="container wide-container">
		  <div class="row justify-content-center position-relative">
		    <div class="col-lg-5 offset-lg-1 pt-5 pb-3 mob-py-0 py-5 text-center text-lg-left">
		      <p class="text-pink mb-0 letter-spacing text-fancy text-large position-relative" data-aos="fade-in"><b class="text-pink">{{landingpage.fancy_2}}</b></p>
		      <h2 class="mb-4 smaller" data-aos="fade-in">{{landingpage.title_2}}</h2>
		      <div class="mb-4 lp-text text-large" v-html="landingpage.text_2"></div>
		      <cool-button :routerlink="'Contact'" :color="'#fff'" :text="'Contact Us'" data-aos="fade-up"></cool-button>
		    </div>
		    <div class="col-lg-6 pl-5 mob-px-3 py-5 mob-pb-0">
		    	<picture> 
		      	<source :srcset="landingpage.landingpage2" :type="landingpage.landingpage2mime"/> 
            <source :srcset="landingpage.landingpage2webp" type="image/webp"/>
            <img :src="landingpage.landingpage2" :type="landingpage.landingpage2mime" :alt="landingpage.title + ' featured image'" class="w-100"  data-aos="fade-in"/>
          </picture>       
		    </div>
		  </div>
		</div>
		<div class="container">
		  <div class="row pb-5 mob-py-0">
		    <div class="col-lg-12 mob-mt-0 blog-body">
		    	<p class="text-pink mb-0 letter-spacing text-fancy text-large position-relative" data-aos="fade-in"><b class="text-pink">Still not convinced?</b></p>
		      <h2 class="mb-4 smaller" data-aos="fade-in">More about {{landingpage.title}}</h2>
		      <div v-html="landingpage.body" class="lp-text lp_body"></div>
		      <div class="fb-like mt-5" :data-href="'/work/'+landingpage.slug" data-width="" data-layout="button_count" data-action="like" data-size="small" data-show-faces="true" data-share="true"></div>
		    </div>
		  </div>
		</div>
		<div class="container-fluid pb-5 position-relative">
		  <div class="dots-line-bottom-right"></div>
		  <div class="row py-5">
		    <div class="container position-relative">
		    	
		      <div class="row">
		        <div class="col-12 mb-4 mob-mb-0">
		          <p class="text-pink mb-0 letter-spacing text-fancy text-large position-relative"><router-link :to="{ name: 'Work' }"><i class="fa fa-link mr-2 cursor-pointer"></i><b class="text-pink cursor-pointer">Check out more of our work</b></router-link></p>
		          <h3 class="mb-4 text-white mb-4">Related Work</h3>
		        </div>
		      </div>
		      <div class="row position-relative">
		      	<div class="blue-dots-top-right d-none d-lg-block" data-aos="slide-left"></div>
	      		<div class="pink-pentagon-top-right d-none d-lg-block" data-aos="slide-up" data-aos-delay="200"></div>
		        <div class="col-lg-6" v-for="other in landingpage.projects">
		        	<router-link :to="{ name: 'WorkPost',  params: {workSlug: other.slug } }">
		            <div class="zoom-link" data-aos="fade-in">
		              <div class="blog-img position-relative">
		              	<picture>
				              <source :srcset="other.image" :type="landingpage.mime"/> 
				              <source :srcset="other.webp" type="image/webp"/>
				              <img :src="other.image" :type="other.mime" :alt="other.title" class="w-100" />
				            </picture>
				            <div class="pointer"><span></span></div>
		              </div>
		              <p class="text-primary mt-3 mb-0 letter-spacing text-fancy text-large position-relative">{{other.category.name}}</p>
		              <h5 class="text-white">{{other.title}}</h5>
		              <p class="text-white text-small">{{other.excerpt}}</p>
		            </div>
		          </router-link>
		        </div>
		      </div>
		    </div>
		  </div>
		</div>
	</div>
</template>
<script>
	export default {
		head() {
      return {
        title: this.landingpage.title + ' - What we do - Element Seven',
        meta: [
		      { name: 'description', content: this.landingpage.excerpt },
		      { name: 'og-image', content: 'https://elementseven.co'+this.landingpage.image },
		      { name: 'og-title', content: this.landingpage.title + ' - What we do - Element Seven' },
		      { name: 'og:description', content: this.landingpage.excerpt },
		      { name: 'og-url', content: 'https://elementseven.co/what-we-do/'+this.$route.params.lpSlug },
		    ]
      }
    },
		data() {
      return {
      	landingpage: {},
      	api: '/fetch/landingpage/'+this.$route.params.lpSlug,
      	count: 0,
      	loaded: false,
			}
		},
		mounted(){
			this.getlandingpage();
		},
		updated(){
			this.scrollLine();
		},
		watch: {
			$route(to, from) {
				this.api = '/fetch/landingpage/'+to.params.lpSlug;
				this.backToTop();
				if(this.loaded == 3){
					this.getlandingpage();
				} 
	    }
	  },
	  methods:{
	  	getlandingpage(){
	  		this.$axios.get(this.api)
	  		.then(response => {
          this.landingpage = response.data;
          
          this.$emit('hideLoader');
          this.$emit('pageChange', {'type':'dark', 'page':'View landingpage', 'title':this.landingpage.name});
          console.log(this.count);
          this.count = 1;
        })
        .catch(error => {
          this.$emit('hideLoader');
          // Error handling
          console.log(error);
        });
	  	},
	  	getExtension(d){
        if (d > 3 && d < 21) return 'th';
        switch (d % 10) {
          case 1:  return "st";
          case 2:  return "nd";
          case 3:  return "rd";
          default: return "th";
        }
      },
	  	niceDate: function (date) {
        var newdate = new Date(date);
        var thedate = newdate.getDate();
        var extension = this.getExtension(thedate);
        var months = ['Jan', 'Feb', 'Mar', 'Apr', 'May', 'Jun', 'Jul', 'Aug', 'Sep', 'Oct', 'Nov', 'Dec'];
        return thedate + extension + ' ' + months[newdate.getMonth()] + ' ' + newdate.getFullYear();
        // return moment(date).format('Do MMM YYYY');
      },
      moment: function (date) {
        var newdate = new Date(date);
        var thedate = newdate.getDate();
        var extension = this.getExtension(thedate);
        var months = ['Jan', 'Feb', 'Mar', 'Apr', 'May', 'Jun', 'Jul', 'Aug', 'Sep', 'Oct', 'Nov', 'Dec'];
        return newdate.getFullYear() + '-' + (newdate.getMonth() + 1).toString().padStart(2, '0') + '-' + thedate.toString().padStart(2, '0');
        // return moment(date).format('Do MMM YYYY');
      },
      backToTop(){
          document.body.scrollTop = document.documentElement.scrollTop = 0;
			},
      scrollLine(){
      	$('.scroll-line').each(function(index, element){
					var effect = $(this).attr("data-line");
					var inview = new Waypoint({
						element: element,
						handler: function (direction) {
							if (direction === 'down') {
								$(element).addClass(effect);
							}
						},offset: '80%'
					});
				});
      }
	  }
	}
</script>
<style lang="scss">
	.blog-body{
		p{
			color: $white !important
		}
		h3{
			font-size: 2.5rem;
			line-height: 1.5rem;
			margin-bottom: 2rem;
		}
		img{
			max-width: 100%;
		}
	}
	.lp-text{
		font-size: 1.4rem;
	}
	.zoom-link{
		cursor: pointer;
		.blog-img{
			width: 100%;
			height: 360px;
			max-height: 360px;
			overflow: hidden;
			position: relative;
			img{
				position: absolute;
		    top:-100%; left:0; right: 0; bottom:-100%;
		    margin: auto;
		    @include transition(300ms);
			}
		}
		&:hover{
			.blog-img{
				img{
					transform: scale(1.1);
				}
			}
		}
	}
	.blue-dots-top-right{
    background-image: url('/img/shapes/dots_blue.svg');
    background-size: 100%;
    background-repeat: no-repeat;
    position: absolute;
    top: -60px;
    right: -200px;
    width: 250px;
    height: 418px;
    transform: rotate(-110deg) !important;
    -webkit-transform: rotate(-110deg) !important;
  }
  .pink-pentagon-top-right{
    background-image: url('/img/shapes/pentagon_pink.svg');
    background-size: 100%;
    background-repeat: no-repeat;
    position: absolute;
    top: -100px;
    right: calc(-150px + 1rem);
    width: 300px;
    height: 300px;
    -webkit-animation: rotating 100s linear infinite;
    -moz-animation: rotating 100s linear infinite;
    -ms-animation: rotating 100s linear infinite;
    -o-animation: rotating 100s linear infinite;
    animation: rotating 100s linear infinite;
   }
   @keyframes rotating {
    from {
      -ms-transform: rotate(0deg);
      -moz-transform: rotate(0deg);
      -webkit-transform: rotate(0deg);
      -o-transform: rotate(0deg);
      transform: rotate(0deg);
    }
    to {
      -ms-transform: rotate(360deg);
      -moz-transform: rotate(360deg);
      -webkit-transform: rotate(360deg);
      -o-transform: rotate(360deg);
      transform: rotate(360deg);
    }
  }
	 .pointer {
    position: absolute;
    bottom: 1rem;
    right: 1rem;
    display: block;
    width: 10px;
    height: 10px;
    border-radius: 50%;
    background: $pink;
    cursor: pointer;
    box-shadow: 0 0 0 rgb(255,50,162);
    animation: pulse 2s infinite;
  }
  .pointer span {
    color: #fff;
    text-align: center;
    display: block;
    width: 31px;
    padding: 5px 0px;
  }
  @-webkit-keyframes pulse {
    0% {
      -webkit-box-shadow: 0 0 0 0 rgba(255,50,162, 0.4);
    }
    70% {
        -webkit-box-shadow: 0 0 0 10px rgba(255,50,162, 0);
    }
    100% {
        -webkit-box-shadow: 0 0 0 0 rgba(255,50,162, 0);
    }
  }
  @keyframes pulse {
    0% {
      -moz-box-shadow: 0 0 0 0 rgba(255,50,162, 0.4);
      box-shadow: 0 0 0 0 rgba(255,50,162, 0.4);
    }
    70% {
        -moz-box-shadow: 0 0 0 10px rgba(255,50,162, 0);
        box-shadow: 0 0 0 10px rgba(255,50,162, 0);
    }
    100% {
        -moz-box-shadow: 0 0 0 0 rgba(255,50,162, 0);
        box-shadow: 0 0 0 0 rgba(255,50,162, 0);
    }
	}
	.lp_body{
		p{
			strong{
				font-size: 4rem;
				line-height: 1;
				font-weight: 500;
				font-family: $title;
			}
		}
		strong{
			font-size: 4rem;
			line-height: 1;
			font-weight: 500;
			font-family: $title;
			padding-bottom: 1rem;
    	display: inline-block;
		}
	}
	.pink-dots-bottom-left{
		background-image: url('/img/shapes/smalldots_pink.svg');
		background-size: contain;
		background-repeat: no-repeat;
		position: absolute;
		bottom: calc(50% - 240px);
	  left: -35px;
	  width: 170px;
	  height: 480px;	
	  z-index: -1;
	  transform: rotate(45deg) !important;
	  -webkit-transform: rotate(45deg) !important;
	}
	.blue-circle-bottom-left{
		background-image: url('/img/shapes/circle_cyan.svg');
		background-size: 100%;
		background-repeat: no-repeat;
		position: absolute;
	  bottom: calc(50% - 190px);
	  left: -130px;
	  width: 300px;
	  height: 300px;
	  z-index: 0;
	}
</style>